<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}らくばるポスティング{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.1/css/all.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/images/rakubaru/appicon.jpg" type="image/jpg">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<style>

.dropdown-menu{
    background-color: #fff;
    padding:10px;
    width:220px;
}

#m{
    background-color: #fff;
    padding:15px;
    width:300px;
}

.menu{
    color: black;
}

.menu:hover{
    background-color:#eee;
    color:red;
}

.menu a{
    color:black;
}

h4{
    color:white;
}

h4:hover{
    color:white;
    text-decoration:underline;
}

</style>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>-->
</head>

<body>

<nav id="navbar" class="navbar navbar-inverse" style="background:rgba(0,0,0,0.7);">

    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar" aria-expanded="false" aria-label="Toggle navigation" onclick="javascript:changeNavbarBackgroundColor();">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <div class="collapse navbar-collapse" id="topNavBar" style="border:0;">
            <ul class="nav navbar-nav">
                <li style="margin-right:30px;">
                    <a href="/rakubaru/rahome">
                        <h4 style=""><span class="fa fa-home" aria-hidden="true" style="margin-right:10px;"></span>ホーム</h4>
                    </a>
                </li>
                <li style="margin-right:30px;">
                    <a href="/rakubaru/areasetup">
                        <h4 style=""><span class="fa fa-plus-circle" aria-hidden="true" style="margin-right:10px;"></span>エリアを追加</h4>
                    </a>
                </li>
                <li style="margin-right:30px;">
                    <a href="/rakubaru/getallassigns">
                        <h4 style=""><span class="fa fa-pie-chart" aria-hidden="true" style="margin-right:10px;"></span>進捗</h4>
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="background-color:transparent;">
                        <h4><span class="fa fa-search" aria-hidden="true" style="margin-right:10px;"></span></h4>
                    </a>
                    <ul class="dropdown-menu" role="menu" id="m">
                        <form action="/rakubaru/searcharea" role="search" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="text" name="q" class="form-control" placeholder="キーワードを入力してください" autocomplete="off">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-success"><i class="fa fa-search" style="color:white; font-size:18px; padding:1.5px;"></i></button>
                                </span>
                            </div>
                        </form>
                    </ul>
                </li>

            </ul>

        </div>

    </div>
</nav>


<script>

    var openF = false;

    function changeNavbarBackgroundColor(){
        console.log("Clicked on nav button");
        var navbar = document.getElementById('navbar');
        if(!openF) {
            navbar.style.backgroundColor = "rgba(0,0,0,0.7)";
            openF = true;
        }else{
            // navbar.style.backgroundColor = "transparent";
            openF = false;
        }
    }

    function showPostCreateForm(){
        document.getElementById('postcreateform').style.display='inline-block';
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

</script>

<script>
    $(document).click(function(){
        // hideMenuBar();
    });

    function hideMenuBar(){
        // $(".dropdown-menu").hide();
        $('.navbar-collapse').collapse('hide');
    }

</script>

{% block body %}
{% endblock %}


</body>
</html>
















