{% extends 'rakubaru/base_back.html' %}
{% block title %}会員プラン{% endblock %}
{% block body %}

<link rel="stylesheet" type="text/css" href="/static/css/area/payment_plans.css"/>

<br>
<br>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<meta charset="utf-8">

<style>

.icon-container {
    padding: 7px 0;
    font-size: 24px;
}

</style>

<!--<script>-->
<!--	history.pushState(null, null, location.href);-->
<!--    history.back();-->
<!--    history.forward();-->
<!--    window.onpopstate = function () { history.go(1); };-->
<!--</script>-->

{% if note %}
<script>alert("{{note}}");</script>
{% endif %}

<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../lib/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div id="title">会員プラン</div>

<div id="bar" style="display:none;"></div>

<script>
var bar=new RadialProgress(document.getElementById("bar"),{colorBg:"rgba(0,0,0,0)",colorFg:"#0066ff",thick:8,round:true,indeterminate:true,animationSpeed:0.5});
</script>

<button type="button" class="btn-history" onclick="javascript:showHistoryBox();">支払履歴</button>

<div class="w-100" style="margin:auto; height:auto; position:relative;">
    {% csrf_token %}
    <div class="plan-title">会員プラン<br></div>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div style="width:100%; position:relative;" class="frame">

                    <div class="planForm">
                        <div class="contentform">
                            <div style="width:100%;">
                                <div class="form-group">
                                    <center>
                                        <div style="width:auto; display:inline-block;">
                                            <br>
                                            <br>
                                            <label class="lbl1">
                                                無料支払い
                                            </label>
                                            <br>
                                            <label style="font-size:20px; color:white;">初期</label>
                                            <br>
                                            <label class="lbl2">1人まで無料</label>
                                            <br>
                                        </div>
                                    </center>
                                </div>

                                <br>

                                <div class="form-group">
                                    <center>
                                        <div class="lbl3" onclick="">このメンバーシップには最大1人の従業員を登録できます。</div>
                                    </center>
                                </div>

                                <div style="color:#ff99ff; font-size:14px;">
                                    <center>
                                        {% if me.plan == '' or me.plan == '0' and status != '' %}上限に達しました。 従業員： {{memb_count}}{% endif %}
                                    </center>
                                </div>

                            </div>
                        </div>
                    </div>

                    <button type="button" style="{% if me.plan == '' or me.plan == '0' %}background:#b3b300;{% else %}background:#4d0099;{% endif %}" class="payBtn"
                        onclick="{% if me.plan != '' and me.plan != '0' %}downgradeSubscriptionToFree(){% endif %}">{% if me.plan == '' or me.plan == '0' %}現在の計画{% else %}今払う{% endif %}</button>

                </div>
                <br>
            </div>

            <div class="col-sm-4">
                <div style="width:100%; position:relative;" class="frame">
                    <div class="planForm">
                        <div class="contentform">
                            <div style="width:100%;">
                                <div class="form-group">
                                    <center>
                                        <div style="width:auto; display:inline-block;">
                                            <br>
                                            <br>
                                            <label class="lbl1">
                                                5,000円
                                            </label>
                                            <br>
                                            <label style="font-size:20px; color:white;">月額</label>
                                            <br>

                                            <label class="lbl2">10人まで</label>
                                            <br>

                                        </div>
                                    </center>
                                </div>

                                <br>

                                <div class="form-group">
                                    <center>
                                        <div class="lbl3" onclick="">このメンバーシップには最大10人の従業員を登録できます。</div>
                                    </center>
                                </div>

                                {% if me.plan == '1' %}
                                <div style="color:#ff99ff; font-size:14px;">
                                    <center>
                                        <!--{% if me.subscriptionID %} {{me.subscriptionID}} {% endif %}<br>-->
                                        {% if status != '' %}上限に達しました。 従業員： {{memb_count}}{% endif %}
                                    </center>
                                </div>
                                {% endif %}

                                <div class="form-group">
                                    <center>
                                        <div class="lbl3">お持ちの場合は、クーポンコードを入力してください。</div>
                                        <input type="text" id="coupon1" class="coupon-input" value="">
                                    </center>
                                </div>

                            </div>
                        </div>
                    </div>

                    <button type="button" style="{% if me.plan == '1' %}{% if me.subscriptionID == '' %}background:#ff0000;{% else %}background:#b3b300;{% endif %}{% else %}background:#4d0099;{% endif %}" class="payBtn"
                        onclick="{% if me.plan != '1' %}{% if me.plan == '0' %}openNewSubscriptionAlert(5000, 1, 10);{% elif me.plan == '2' %}upDowngradeSubscriptionToPlan1(){% endif %}{% else %}{% if me.subscriptionID == '' %}openNewSubscriptionAlert(5000, 1, 10);{% endif %}{% endif %}">
                        {% if me.plan == '1' %}現在の計画{% if me.subscriptionID == '' %}<br><i class="fa fa-exclamation-triangle"></i>サブスクリプションを追加する{% endif %}{% else %}今払う{% endif %}
                    </button>

                </div>
                <br>
            </div>

            <div class="col-sm-4">
                <div style="width:100%; position:relative;" class="frame">

                    <button class="plan-0-title" onclick="downgradeSubscriptionForPlan2()">ダウングレード（-10人）</button>

                    <div class="planForm">
                        <div class="contentform">
                            <div style="width:100%;">
                                <div class="form-group">
                                    <center>
                                        <div style="width:auto; display:inline-block;">
                                            <br>
                                            <br>
                                            <label class="lbl1">
                                                +4,500円
                                            </label>
                                            <br>
                                            <label style="font-size:20px; color:white;">月額</label>
                                            <br>

                                            <label class="lbl2">
                                                招待可能な社員を10人追加します。
                                            </label>
                                            <br>
                                        </div>
                                    </center>
                                </div>

                                <br>

                                <div class="form-group">
                                    <center>
                                        <div class="lbl4">招待可能な社員を10人追加します。</div>
                                    </center>
                                </div>

                                <br>
                                {% if me.plan == '2' %}
                                <div style="color:#ff99ff; font-size:14px;">
                                    <center>
                                        <!--{% if me.subscriptionID %} {{me.subscriptionID}}<br> {% endif %}-->
                                        <div style="display:inline-block; text-align:left;">
                                            計画された従業員 : {{planned_count}} <br>
                                            現在の従業員：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{memb_count}} {% if status != '' %}上限に達しました。{% endif %}
                                        </div>
                                    </center>
                                </div>
        `                       {% endif %}

                                <input hidden id="current_payment" value="{{current_payment}}">
                                <input hidden id="last_payment" value="{{last_payment}}">
                                <input hidden id="last_1_payment" value="{{last_1_payment}}">
                                <input hidden id="planned_count" value="{{planned_count}}">

                                <div class="form-group">
                                    <center>
                                        <div class="lbl3">お持ちの場合は、クーポンコードを入力してください。</div>
                                        <input type="text" id="coupon2" class="coupon-input" value="">
                                    </center>
                                </div>

                            </div>
                        </div>
                    </div>

                    <button type="button" style="{% if me.plan == '2' %}{% if me.subscriptionID == '' %}background:#ff0000;{% else %}background:#b3b300;{% endif %}{% else %}background:#4d0099;{% endif %}" class="payBtn"
                        onclick="{% if me.subscriptionID == '' %}createNewSubscriptionForPlan2();{% else %}upgradeSubscriptionForPlan2();{% endif %}">
                        {% if me.plan == '2' %}現在の計画:今払う{% if me.subscriptionID == '' %}<br><i class="fa fa-exclamation-triangle"></i>サブスクリプションを追加する{% endif %}{% else %}今払う{% endif %}
                    </button>

                </div>
                <br>
            </div>


        </div>
    </div>
</div>


<div id="paymentform" class="col-sm-12" style="display:none;">
    {% csrf_token %}
    <img src="/static/images/rakubaru/cancel.png" style="width:25px; height:25px; float:right;" onclick="dismissLayouts();">
    <div style="width:100%; display:inline-block;">
        <div class="col-sm-12">
            <form action="/charge" method="post" id="payment-form">
                <div class="form-row">
                    <div class="icon-container">
                        <i class="fa fa-cc-visa" style="color:navy;"></i>
                        <i class="fa fa-cc-amex" style="color:blue;"></i>
                        <i class="fa fa-cc-mastercard" style="color:red;"></i>
                        <i class="fa fa-cc-discover" style="color:orange;"></i>
                    </div>
                    <div class="form-group">
                        <label for="name">フルネーム </label>
                        <div style="text-align:center; width:100%;">
                            <input type="text" name="name" id="name" placeholder="フルネーム...">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Eメール</label>
                        <div style="text-align:center; width:100%;">
                            <input type="email" name="email" id="email" placeholder="Eメール...">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="card-element">
                            クレジットカードまたはデビットカード
                        </label>
                        <div id="card-element" style="margin-top:10px;">
                        <!-- A Stripe Element will be inserted here. -->
                        </div>
                        <div style="background-color:black; height:1.2px; margin-top:8px;"></div>
                    </div>
                    <!-- Used to display Element errors. -->
                    <div id="card-errors" style="color:red;" role="alert"></div>
                </div>
                <center>
                    <img src="/static/images/rakubaru/progressbar.gif" style="width:30px; display:none;" id="gif0">
                </center>
                <div class="form-group" style="margin-top:20px;">
                    <button class="bouton-update" id="pay-btn">購入する</button>
                </div>
            </form>
        </div>
    </div>
    <div style="position:absolute; top:-40px; width:60%; margin-left:20%; margin-right:20%;">
        <center>
            <img src="/static/images/rakubaru/appicon.jpg" class="centered-and-cropped" style="border-radius:50%; border:5px solid white; width:80px; height:80px; margin-right:16px;">
        </center>
    </div>
</div>


<div id="payment-history">
    <div style="padding:20px;color:white;">
        <img src="/static/images/rakubaru/cancel.png" style="width:25px; height:25px; float:right;" onclick="javascript:dismissHistoryBox();">
        <div style="width:100%;">
            <h2>支払履歴</h2>
            <br>
            {% for inv in invoices %}
            <div style="background-color:#805500;border-radius:3px;width:100%;">
                <div class="contentform">
                    <div style="display:flex;">
                        <div>
                            <div style="color:#BDB76B;">{{inv.number}}</div>
                            <div style="font-size:14px;">毎月の支払</div>
                        </div>
                        <div style="flex-grow:1"></div>
                        <label style="margin-right:10px; font-size:25px; color:yellow; font-family:verdana;"><span style="font-size:14px;">¥</span>{{inv.amount}}&nbsp;<span style="font-size:12px;">{{inv.status}}</span></label>
                    </div>
                    <label style="font-size:20px;">{{inv.created}}</label>
                    <div style="float:right; margin-top:8px;">
                        <a href="{{inv.hosted_invoice_url}}" target="_blank" style="color:#00ffff;font-size:14px;">請求書の詳細を読む...<i class="fa fa-file"></i></a>
                    </div>
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>
</div>

<div id="backgroundOverlay" onclick="dismissLayouts();"></div>


<input type="hidden" id="registered_membs_count" name="registered_membs_count" value="{{memb_count}}">

<div id="snackbar">Submited!</div>

<input type="hidden" id="me_email" value="{{me.email}}">
<input type="hidden" id="me_id" value="{{me.pk}}">

<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="glyphicon glyphicon-menu-up" style="color:white; font-size:14px;"></i></button>

<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
        document.getElementById("myBtn").style.display = "block";
        document.getElementById("title").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
        document.getElementById("title").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}

function dismissLayouts(){
    document.getElementById("paymentform").style.display='none';
    document.getElementById("backgroundOverlay").style.display='none';
    dismissHistoryBox();
}

function createNewSubscriptionForPlan2() {
    showAlert("2番目の計画をスキップすることはできません。 10人プランにアップグレードしてください。");
    return;
    var planned_count = document.getElementById("planned_count").value;
    var current_payment = document.getElementById("current_payment").value;
    var price = parseInt(current_payment) + 4500;
    openNewSubscriptionAlert(price, 2, parseInt(planned_count) + 10);
}


function formSubmit(form, gif){
    gif.style.display = "block";
    console.log("payment method id: " + document.getElementById('pay-method').value)
    var formData = new FormData(form);
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var result = xhr.response;
            console.log('Payment Response: ' + result);
            if(result == 'success') {
                swal("支払いは成功しました。", {
                    icon: "success",
                })
                .then((ok) => {
                    if (ok) {
                        location.reload();
                    }
                });
            }else{
                alert(result);
            }
            gif.style.display = "none";
        }
    };
    xhr.open('POST', form.getAttribute('action'), true);
    xhr.send(formData);
}

function showToast(text) {
    var x = document.getElementById("snackbar");
    x.innerHTML = text;
    x.className = "show";
    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
}

</script>

<form style="display: none;" id="form" action="/rakubaru/racreatesubscription" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" id="token" name="token" value="">
    <input type="hidden" id="price" name="price" value="0">
    <input type="hidden" id="me_id" name="me_id" value="{{me.pk}}">
    <input type="hidden" id="plan" name="plan" value="0">
    <input type="hidden" id="members" name="members" value="1">
    <input type="hidden" id="coupon_id" name="coupon_id" value="0">
    <input type="hidden" id="discount" name="discount" value="0">
    <input type="hidden" id="pay-name" name="name" value="">
    <input type="hidden" id="pay-email" name="email" value="">
    <input type="hidden" id="pay-method" name="pay_method" value="">
</form>

<form style="display: none;" id="updowngradeform" action="/rakubaru/raupdowngradesubscription" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="price" id="down_price" value="0">
    <input type="hidden" name="me_id" value="{{me.pk}}">
    <input type="hidden" name="plan" id="down_plan" value="0">
    <input type="hidden" name="members" id="down_members" value="1">
</form>

<script src="https://js.stripe.com/v3/"></script>
<script>

var stripe = Stripe('pk_live_51Hr8pdECq8YGopGg8KDcu5rS2vpS5u5K5d2eU9KL0OSlLGy5Nx2h5UIi2hRXlw2PCy8PYhyU1iT93vBXX02nq1yT00Q1UDxDUs');  // pk_test_51Hr8pdECq8YGopGgUx1FE1iUfberafsAxdiVFCoHBy7XflTnxYm28Gd2F8QrUBkVKtS4TmZ25twwL8ky2py6plMR00kwvysIGH
var elements = stripe.elements();
var style = {
  base: {
    // Add your base input styles here. For example:
    fontSize: '16px',
    color: '#32325d',
  },
};

// Create an instance of the card Element.
var card = elements.create('card', {style: style});

// Add an instance of the card Element into the `card-element` <div>.
card.mount('#card-element');

// Create a token or display an error when the form is submitted.
var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
    event.preventDefault();

    if(document.getElementById("name").value == "") {
        alert("お名前を入力してください。");
        return;
    }
    if(document.getElementById("email").value == "") {
        alert("あなたのメールアドレスを入力してください。");
        return;
    }

    document.getElementById('gif0').style.display = "block";

    stripe.createToken(card).then(function(result) {
        if (result.error) {
            // Inform the customer that there was an error.
            var errorElement = document.getElementById('card-errors');
            errorElement.textContent = result.error.message;
            document.getElementById('gif0').style.display = "none";
        } else {
            token = result.token;
            // create paymentmethod
            stripe
              .createPaymentMethod({
                type: 'card',
                card: card,
                billing_details: {
                  name: document.getElementById("name").value,
                },
              })
              .then(function(result) {
                // Handle result.error or result.paymentMethod
                if(result.error){
                    document.getElementById('gif0').style.display = "none";
                }else {
                    var name = document.getElementById("name").value;
                    var email = document.getElementById("email").value;
                    stripeTokenHandler(token, result.paymentMethod, name, email);
                }
              });
        }
    });

});

function stripeTokenHandler(token, method, name, email) {
    console.log(token.id)
    console.log(method.id)
    document.getElementById('token').value = token.id;
    document.getElementById('pay-method').value = method.id;
    document.getElementById('pay-name').value = name;
    document.getElementById('pay-email').value = email;
    formSubmit(document.getElementById('form'), document.getElementById('gif0'));
}

</script>

<script>
function openNewSubscriptionAlert(price, plan, membs){
    if(parseInt(document.getElementById('registered_membs_count').value) > membs) {
        alert('選択したプランの利用者上限が、現在の社員数を下回っています。登録社員を削除して選択しなおしてください。');
        return;
    }
    var c1 = document.getElementById('coupon1').value;
    var c2 = document.getElementById('coupon2').value;

    if (plan == 1 && c1.length > 0){
        checkcoupon(price, plan, membs, c1);
    }else if (plan == 2 && c2.length > 0){
        checkcoupon(price, plan, membs, c2);
    }else {
        document.getElementById('price').value = price;
        document.getElementById('plan').value = plan;
        document.getElementById('members').value = membs;
        document.getElementById('discount').value = 0;
        document.getElementById("paymentform").style.display = "block";
        document.getElementById("backgroundOverlay").style.display = "block";
        document.getElementById("pay-btn").innerHTML = "購入する ¥" + String(parseInt(price)) + "/月";
    }

}

function checkcoupon(price, plan, membs, code) {
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        console.log(xhr.responseText);
        if (this.readyState == 4 && this.status == 200) {
            var data = JSON.parse(xhr.responseText);
            var status = data["status"];
            if(status == "0") {
                var discount = data["discount"];
                var coupon_id = data["coupon_id"];
                alert(String(discount) + '%割引が受けられます。');
                price = price * (1 - parseFloat(discount) / 100)
                document.getElementById('price').value = price;
                document.getElementById('plan').value = plan;
                document.getElementById('members').value = membs;
                document.getElementById('coupon_id').value = coupon_id;
                document.getElementById('discount').value = discount;
                document.getElementById("paymentform").style.display = "block";
                document.getElementById("backgroundOverlay").style.display = "block";
                document.getElementById("pay-btn").innerHTML = "購入する ¥" + String(parseInt(price)) + "/月";
            }else if(status == "1") {
                alert("このクーポンはすでに有効期限が切れています。");
            }else if(status == "2") {
                alert("このクーポンは存在しません。");
            }
        }

    };
    xhr.open('GET', '/rakubaru/checkcoupon?coupon_code=' + code, true);
    xhr.send('');
}


function showHistoryBox(){
    console.log("tapped on history button")
    document.getElementById("backgroundOverlay").style.display = "block";
    setTimeout(function(){
        document.getElementById("payment-history").style.display = "block";
        document.getElementById("payment-history").setAttribute('class', 'slide-rin');
    }, 30);
}

function dismissHistoryBox(){
    document.getElementById("payment-history").setAttribute('class', 'slide-rout');
    setTimeout(function() {
        document.getElementById("payment-history").style.display="none";
        document.getElementById("backgroundOverlay").style.display = "none";
    }, 400);
}

function upDowngradeSubscriptionToPlan1() {
    var planned_count = document.getElementById("planned_count").value;
    if(parseInt(planned_count) > 20) {
        showAlert('このダウングレードは、招待20人以下の場合にのみ有することができる。');
        return;
    }
    if(parseInt(document.getElementById('registered_membs_count').value) > 10) {
        showAlert('選択したプランの利用者上限が、現在の社員数を下回っています。登録社員を削除して選択しなおしてください。');
        return;
    }
    var last_1_payment = document.getElementById("last_1_payment").value;
    var price = parseInt(last_1_payment);
    swal({
        title: "注意",
        text: "既に登録済みのクレジットカードから引き落としされます。\n価格: ¥" + String(price) + ",    メンバーの数: 10",
        icon: "warning",
        button: "OK",
        dangerMode: true,
    })
    .then((ok) => {
        if (ok) {
            upDowngradeSubscription(price, 1, 10);
        }
    });
}

function showAlert(msg) {
    swal({
        title: "警告！",
        text: msg,
        icon: "warning",
        button: "OK",
        dangerMode: true,
    });
}

function upDowngradeSubscription(price, plan, members) {
    document.getElementById("down_price").value = price;
    document.getElementById("down_plan").value = plan;
    document.getElementById("down_members").value = members;

    document.getElementById("bar").style.display = "block";
    var updownform = document.getElementById("updowngradeform");
    var formData = new FormData(updownform);
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var result = xhr.response;
            console.log('///////////////' + result)
            if(result == 'success') {
                swal("支払いは成功しました。", {
                    icon: "success",
                })
                .then((ok) => {
                    if (ok) {
                        location.reload();
                    }
                });
            }else{
                alert(result);
            }
            document.getElementById("bar").style.display = "none";
        }
    };
    xhr.open('POST', updownform.getAttribute('action'), true);
    xhr.send(formData);
}



function downgradeSubscriptionForPlan2() {
    var planned_count = document.getElementById("planned_count").value;
    if(parseInt(planned_count) <= 20) {
        showAlert('20人から10人にダウングレードするときは、「10人まで」プランの購入ボタンから切り替えをお願いします。');
        return;
    }
    if(parseInt(planned_count) - 10 < parseInt(document.getElementById('registered_membs_count').value)) {
        showAlert('選択したプランの利用者上限が、現在の社員数を下回っています。登録社員を削除して選択しなおしてください。');
        return;
    }
    var last_payment = document.getElementById("last_payment").value;
    var price = parseInt(last_payment);
    swal({
        title: "注意",
        text: "登録済みのクレジットカードから、以下の金額が引き落としされます。\n価格: ¥" + String(price) + ",    メンバーの数: " + String(parseInt(planned_count) - 10),
        icon: "warning",
        button: "OK",
        dangerMode: true,
    })
    .then((ok) => {
        if (ok) {
            upDowngradeSubscription(price, 2, parseInt(planned_count) - 10);
        }
    });
}


function upgradeSubscriptionForPlan2() {
    var planned_count = document.getElementById("planned_count").value;
    var current_payment = document.getElementById("current_payment").value;
    var price = parseInt(current_payment) + 4500;

    var c2 = document.getElementById('coupon2').value;

    if (c2.length > 0){
        checkcouponforplan2upgrade(price, c2, parseInt(planned_count) + 10);
    }else {
        upDowngradeSubscription(price, 2, parseInt(planned_count) + 10)
    }

}


function checkcouponforplan2upgrade(price, code, membs) {
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        console.log(xhr.responseText);
        if (this.readyState == 4 && this.status == 200) {
            var data = JSON.parse(xhr.responseText);
            var status = data["status"];
            if(status == "0") {
                var discount = data["discount"];
                var coupon_id = data["coupon_id"];
                alert(String(discount) + '%割引が受けられます。');
                price = price * (1 - parseFloat(discount) / 100);
                upDowngradeSubscription(price, 2, membs)
            }else if(status == "1") {
                alert("このクーポンはすでに有効期限が切れています。");
            }else if(status == "2") {
                alert("このクーポンは存在しません。");
            }
        }

    };
    xhr.open('GET', '/rakubaru/checkcoupon?coupon_code=' + code, true);
    xhr.send('');
}


function downgradeSubscriptionToFree() {
    var planned_count = document.getElementById("planned_count").value;
    if(parseInt(planned_count) > 10) {
        showAlert('ダウングレードは、10人ずつしかすることができません。');
        return;
    }
    document.getElementById("bar").style.display = "block";
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var result = xhr.response;
            console.log('Response: ' + result);
            if(result == '0') {
                swal("ダウングレードが正常にされて！", {
                    icon: "success",
                })
                .then((ok) => {
                    location.reload();
                });
            }else if(result == '1') {
                showAlert('選択したプランの利用者上限が、現在の社員数を下回っています。登録社員を削除して選択しなおしてください。');
            }
            document.getElementById("bar").style.display = "none";
        }
    };
    xhr.open('GET', '/rakubaru/rasubscriptiondelete', true);
    xhr.send('');
}

</script>


{% endblock %}
































































