{% extends 'rakubaru/base_back.html' %}
{% block title %}会員プラン{% endblock %}
{% block body %}

<link rel="stylesheet" type="text/css" href="/static/css/area/payment_plans.css"/>

<br>
<br>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<meta charset="utf-8">

<style>

.icon-container {
    padding: 7px 0;
    font-size: 24px;
}

</style>

<!--<script>-->
<!--	history.pushState(null, null, location.href);-->
<!--    history.back();-->
<!--    history.forward();-->
<!--    window.onpopstate = function () { history.go(1); };-->
<!--</script>-->

{% if note %}
<script>alert("{{note}}");</script>
{% endif %}

<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../lib/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div id="title" style="font-size:25px; font-weight:800; color: #F7D479; text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7); text-align:center;
	position:fixed; left:50%; float:middle; transform:translate(-50%, -50%); width:350px; z-index:100; top:92px; display:none;">会員プラン</div>


<div class="w-100" style="margin:auto; height:auto;">
    {% csrf_token %}
    <div style="font-size:40px; font-weight:800;
        color: #F7D479; text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7); text-align:center; width:100%; margin-top:80px;">会員プラン<br>
    </div>
    <br>
    <br>
    <div class="container-fluid">

        <div class="row">

            <div class="col-sm-4">
                <div style="width:100%; position:relative;" class="frame">
                    <div class="planForm">
                        <div class="contentform">
                            <div style="width:100%;">
                                <div class="form-group">
                                    <center>
                                        <div style="width:auto; display:inline-block;">
                                            <br>
                                            <br>
                                            <label class="lbl1">
                                                無料支払い
                                            </label>
                                            <br>
                                            <label style="font-size:20px; color:white;">初期</label>
                                            <br>
                                            <label class="lbl2">1人まで無料</label>
                                            <br>
                                        </div>
                                    </center>
                                </div>

                                <br>

                                <div class="form-group">
                                    <center>
                                        <div class="lbl3" onclick="">このメンバーシップには最大1人の従業員を登録できます。</div>
                                    </center>
                                </div>

                                <div style="color:#ff99ff; font-size:14px;">
                                    <center>
                                        {% if me.plan == '' or me.plan == '0' and status != '' %}期限切れ！ 従業員： {{memb_count}}{% endif %}
                                    </center>
                                </div>

                            </div>
                        </div>
                    </div>

                    <button type="button" style="{% if me.plan == '' or me.plan == '0' %}background:#b3b300;{% else %}background:#4d0099;{% endif %}" class="payBtn"
                        onclick="{% if me.plan != '' and me.plan != '0' %}window.location.href='/rakubaru/ratopay?price=0&plan=0&members=1';{% endif %}">{% if me.plan == '' or me.plan == '0' %}現在の計画{% else %}今払う{% endif %}</button>

                </div>
                <br>
            </div>



            <div class="col-sm-4">
                <div style="width:100%; position:relative;" class="frame">
                    <div class="planForm">
                        <div class="contentform">
                            <div style="width:100%;">
                                <div class="form-group">
                                    <center>
                                        <div style="width:auto; display:inline-block;">
                                            <br>
                                            <br>
                                            <label class="lbl1">
                                                5,000円
                                            </label>
                                            <br>
                                            <label style="font-size:20px; color:white;">月額</label>
                                            <br>

                                            <label class="lbl2">20人まで</label>
                                            <br>

                                        </div>
                                    </center>
                                </div>

                                <br>

                                <div class="form-group">
                                    <center>
                                        <div class="lbl3" onclick="">このメンバーシップには最大20人の従業員を登録できます。</div>
                                    </center>
                                </div>

                                {% if me.plan == '1' %}
                                <div style="color:#ff99ff; font-size:14px;">
                                    <center>
                                        {% if me.subscriptionID %} {{me.subscriptionID}} {% endif %}<br>
                                        {% if status != '' %}期限切れ！ 従業員： {{memb_count}}{% endif %}
                                    </center>
                                </div>
                                {% endif %}

                                <div class="form-group">
                                    <center>
                                        <div class="lbl3">お持ちの場合は、クーポンコードを入力してください。</div>
                                        <input type="text" id="coupon1" style="color:white; width:150px; font-size:18px; margin-bottom:10px;
                                            padding:10px; background:transparent; border-radius:5px; border:2px solid white; text-align:center;" value="">
                                    </center>
                                </div>

                            </div>
                        </div>
                    </div>

                    <button type="button" style="{% if me.plan == '1' %}{% if me.subscriptionID == '' %}background:#ff0000;{% else %}background:#b3b300;{% endif %}{% else %}background:#4d0099;{% endif %}" class="payBtn"
                        onclick="{% if me.plan != '1' %}openPaymentAlert(5000, 1, 20);{% else %}{% if me.subscriptionID == '' %}openPaymentAlert(5000, 1, 20);{% endif %}{% endif %}">
                        {% if me.plan == '1' %}現在の計画{% if me.subscriptionID == '' %}<br><i class="fa fa-exclamation-triangle"></i>サブスクリプションを追加する{% endif %}{% else %}今払う{% endif %}
                    </button>

                </div>
                <br>
            </div>

            <div class="col-sm-4">
                <div style="width:100%; position:relative;" class="frame">
                    <div class="planForm">
                        <div class="contentform">
                            <div style="width:100%;">
                                <div class="form-group">
                                    <center>
                                        <div style="width:auto; display:inline-block;">
                                            <br>
                                            <br>
                                            <label class="lbl1">
                                                +4,500円
                                            </label>
                                            <br>
                                            <label style="font-size:20px; color:white;">月額</label>
                                            <br>

                                            <label class="lbl2">
                                                招待可能な社員を10人追加します。
                                            </label>
                                            <br>
                                        </div>
                                    </center>
                                </div>

                                <br>

                                <div class="form-group">
                                    <center>
                                        <div class="lbl4">招待可能な社員を10人追加します。</div>
                                    </center>
                                </div>

                                <br>
                                {% if me.plan == '2' %}
                                <div style="color:#ff99ff; font-size:14px;">
                                    <center>
                                        {% if me.subscriptionID %} {{me.subscriptionID}} {% endif %}
                                        <div class="text-left" style="display:inline-block;">
                                            計画された従業員 : {{planned_count}} <br>
                                            現在の従業員：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{memb_count}} {% if status != '' %}期限切れ！{% endif %}
                                        </div>
                                    </center>
                                </div>
        `                       {% endif %}
                                <input hidden id="last_payment" value="{{last_payment}}">
                                <input hidden id="planned_count" value="{{planned_count}}">
                            </div>
                        </div>
                    </div>

                    <button type="button" style="{% if me.plan == '2' %}{% if me.subscriptionID == '' %}background:#ff0000;{% else %}background:#b3b300;{% endif %}{% else %}background:#4d0099;{% endif %}" class="payBtn"
                        onclick="toPay()">
                        {% if me.plan == '2' %}現在の計画:今払う{% if me.subscriptionID == '' %}<br><i class="fa fa-exclamation-triangle"></i>サブスクリプションを追加する{% endif %}{% else %}今払う{% endif %}
                    </button>

                </div>
                <br>
            </div>


        </div>
    </div>
</div>

<div id="paymentform" class="col-sm-12" style="display:none;">
    {% csrf_token %}
    <img src="/static/images/rakubaru/cancel.png" style="width:25px; height:25px; float:right;" onclick="dismissLayouts();">
    <div style="width:100%; display:inline-block;">
        <div class="col-sm-12">
            <form action="/charge" method="post" id="payment-form">
                <div class="form-row">
                    <div class="icon-container">
                        <i class="fa fa-cc-visa" style="color:navy;"></i>
                        <i class="fa fa-cc-amex" style="color:blue;"></i>
                        <i class="fa fa-cc-mastercard" style="color:red;"></i>
                        <i class="fa fa-cc-discover" style="color:orange;"></i>
                    </div>
                    <div class="form-group">
                        <label for="name">フルネーム </label>
                        <div style="text-align:center; width:100%;">
                            <input type="text" name="name" id="name" placeholder="フルネーム...">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Eメール</label>
                        <div style="text-align:center; width:100%;">
                            <input type="email" name="email" id="email" placeholder="Eメール...">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="card-element">
                            クレジットカードまたはデビットカード
                        </label>
                        <div id="card-element" style="margin-top:10px;">
                        <!-- A Stripe Element will be inserted here. -->
                        </div>
                        <div style="background-color:black; height:1.2px; margin-top:8px;"></div>
                    </div>
                    <!-- Used to display Element errors. -->
                    <div id="card-errors" style="color:red;" role="alert"></div>
                </div>
                <center>
                    <img src="/static/images/rakubaru/progressbar.gif" style="width:30px; display:none;" id="gif0">
                </center>
                <div class="form-group" style="margin-top:20px;">
                    <button class="bouton-update" id="pay-btn">購読する</button>
                </div>
            </form>
        </div>
    </div>
    <div style="position:absolute; top:-40px; width:60%; margin-left:20%; margin-right:20%;">
        <center>
            <img src="/static/images/rakubaru/appicon.jpg" class="centered-and-cropped" style="border-radius:50%; border:5px solid white; width:80px; height:80px; margin-right:16px;">
        </center>
    </div>
</div>


<div id="backgroundOverlay" onclick="dismissLayouts();"></div>




<input type="hidden" id="registered_membs_count" name="registered_membs_count" value="{{memb_count}}">

<div id="snackbar">Submited!</div>

<input type="hidden" id="me_email" value="{{me.email}}">
<input type="hidden" id="me_id" value="{{me.pk}}">

<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="glyphicon glyphicon-menu-up" style="color:white; font-size:14px;"></i></button>

<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
        document.getElementById("myBtn").style.display = "block";
        document.getElementById("title").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
        document.getElementById("title").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}

function dismissLayouts(){
    document.getElementById("paymentform").style.display='none';
    document.getElementById("backgroundOverlay").style.display='none';
}

function toPay() {
    var planned_count = document.getElementById("planned_count").value;
    var last_payment = document.getElementById("last_payment").value;
    var price = parseInt(last_payment) + 4500;
    openPaymentAlert(price, 2, parseInt(planned_count) + 10);
}


function formSubmit(form, gif){
    gif.style.display = "block";
    console.log("payment method id: " + document.getElementById('pay-method').value)
    var formData = new FormData(form);
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var result = xhr.response;
            console.log('Payment Response: ' + result);
            if(result == 'success') {
                alert('支払いは成功しました。');
                location.reload();
            }else{
                alert(result);
            }
            gif.style.display = "none";
        }
    };
    xhr.open('POST', form.getAttribute('action'), true);
    xhr.send(formData);
}

function showToast(text) {
    var x = document.getElementById("snackbar");
    x.innerHTML = text;
    x.className = "show";
    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
}

</script>

<form style="display: none;" id="form" action="/rakubaru/ratestpay" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" id="token" name="token" value="">
    <input type="hidden" id="price" name="price" value="0">
    <input type="hidden" id="me_id" name="me_id" value="{{me.pk}}">
    <input type="hidden" id="plan" name="plan" value="0">
    <input type="hidden" id="members" name="members" value="1">
    <input type="hidden" id="coupon_id" name="coupon_id" value="0">
    <input type="hidden" id="discount" name="discount" value="0">
    <input type="hidden" id="pay-name" name="name" value="">
    <input type="hidden" id="pay-email" name="email" value="">
    <input type="hidden" id="pay-method" name="pay_method" value="">
</form>

<script src="https://js.stripe.com/v3/"></script>
<script>

var stripe = Stripe('pk_live_51Hr8pdECq8YGopGg8KDcu5rS2vpS5u5K5d2eU9KL0OSlLGy5Nx2h5UIi2hRXlw2PCy8PYhyU1iT93vBXX02nq1yT00Q1UDxDUs');  // pk_test_51Hr8pdECq8YGopGgUx1FE1iUfberafsAxdiVFCoHBy7XflTnxYm28Gd2F8QrUBkVKtS4TmZ25twwL8ky2py6plMR00kwvysIGH
var elements = stripe.elements();
var style = {
  base: {
    // Add your base input styles here. For example:
    fontSize: '16px',
    color: '#32325d',
  },
};

// Create an instance of the card Element.
var card = elements.create('card', {style: style});

// Add an instance of the card Element into the `card-element` <div>.
card.mount('#card-element');

// Create a token or display an error when the form is submitted.
var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
    event.preventDefault();

    if(document.getElementById("name").value == "") {
        alert("お名前を入力してください。");
        return;
    }
    if(document.getElementById("email").value == "") {
        alert("あなたのメールアドレスを入力してください。");
        return;
    }

    document.getElementById('gif0').style.display = "block";

    stripe.createToken(card).then(function(result) {
        if (result.error) {
            // Inform the customer that there was an error.
            var errorElement = document.getElementById('card-errors');
            errorElement.textContent = result.error.message;
            document.getElementById('gif0').style.display = "none";
        } else {
            token = result.token;
            // create paymentmethod
            stripe
              .createPaymentMethod({
                type: 'card',
                card: card,
                billing_details: {
                  name: document.getElementById("name").value,
                },
              })
              .then(function(result) {
                // Handle result.error or result.paymentMethod
                if(result.error){
                    document.getElementById('gif0').style.display = "none";
                }else {
                    var name = document.getElementById("name").value;
                    var email = document.getElementById("email").value;
                    stripeTokenHandler(token, result.paymentMethod, name, email);
                }
              });
        }
    });

});

function stripeTokenHandler(token, method, name, email) {
    console.log(token.id)
    console.log(method.id)
    document.getElementById('token').value = token.id;
    document.getElementById('pay-method').value = method.id;
    document.getElementById('pay-name').value = name;
    document.getElementById('pay-email').value = email;
    formSubmit(document.getElementById('form'), document.getElementById('gif0'));
}

</script>

<script>
function openPaymentAlert(price, plan, membs){
    console.log(membs + '///' + parseInt(document.getElementById('registered_membs_count').value));
    if(membs < parseInt(document.getElementById('registered_membs_count').value)) {
        alert('選択したプランの利用者上限が、現在の社員数を下回っています。登録社員を削除して選択しなおしてください。');
        return;
    }
    c1 = document.getElementById('coupon1').value;

    if (plan == 1 && c1.length > 0){
        checkcoupon(price, plan, membs, c1);
    }else {
        document.getElementById('price').value = price;
        document.getElementById('plan').value = plan;
        document.getElementById('members').value = membs;
        document.getElementById('discount').value = 0;
        document.getElementById("paymentform").style.display = "block";
        document.getElementById("backgroundOverlay").style.display = "block";
        document.getElementById("pay-btn").innerHTML = "購読する ¥" + String(price);
    }

}

function checkcoupon(price, plan, membs, code) {
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        console.log(xhr.responseText);
        if (this.readyState == 4 && this.status == 200) {
            var data = JSON.parse(xhr.responseText);
            var status = data["status"];
            if(status == "0") {
                var discount = data["discount"];
                var coupon_id = data["coupon_id"];
                alert('良い！ ' + String(discount) + '%割引が受けられます。');
                price = price * (1 - parseFloat(discount) / 100)
                document.getElementById('price').value = price;
                document.getElementById('plan').value = plan;
                document.getElementById('members').value = membs;
                document.getElementById('coupon_id').value = coupon_id;
                document.getElementById('discount').value = discount;
                document.getElementById("paymentform").style.display = "block";
                document.getElementById("backgroundOverlay").style.display = "block";
                document.getElementById("pay-btn").innerHTML = "購読する ¥" + String(price);
            }else if(status == "1") {
                alert("このクーポンはすでに有効期限が切れています。");
            }else if(status == "2") {
                alert("このクーポンは存在しません。");
            }
        }

    };
    xhr.open('POST', '/rakubaru/checkcoupon?coupon_code=' + code, true);
    xhr.send('');
}



</script>


{% endblock %}
































































