{% extends 'rakubaru/base_report.html' %}
{% block title %}{% if member %}{{member.name}}{% else %}らくばる{% endif %} レポート{% endblock %}
{% block body %}
<br>
<br>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<meta charset="utf-8">
<meta content="stuff, to, help, search, engines, not" name="keywords">
<meta content="What this page is about." name="description">

<link rel="stylesheet" href="/static/css/reports.css">

<script>
// 	history.pushState(null, null, location.href);
//     history.back();
//     history.forward();
//     window.onpopstate = function () { history.go(1); };
</script>

<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../lib/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="title" style="font-size:30px; font-weight:800; color: #F7D479; text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7); text-align:center;
	position:fixed; left:50%; float:middle; transform:translate(-50%, -50%); width:400px; z-index:100; top:140px; display:none;">
    {% if member %}{{member.name}}{% else %}らくばる{% endif %} レポート<br>

    <a href="/rakubaru/reportscsvexport" id="csv-title" style="color:white;font-size:14px;margin-left:10px; text-shadow:none;">
        <span class="fas fa-file-csv" aria-hidden="true" style="margin-right:5px;"></span>CSV出力
    </a>

</div>

<div id="bar" style="display:none;"></div>

<script>
var bar=new RadialProgress(document.getElementById("bar"),{colorBg:"rgba(0,0,0,0)",colorFg:"#0066ff",thick:8,round:true,indeterminate:true,animationSpeed:0.5});
</script>


<a href="/viewreport" target="_blank" style="position:fixed;top:90px;right:15px;color:white;font-size:16px;text-decoration:underline;">バックアップファイルの閲覧</a>


{% if reports %}

<div style="width:100%; height:auto; padding-bottom:20px;">
    <div style="font-size:30px; font-weight:800; color: #F7D479; text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7); text-align:center; width:100%; margin-top:40px;">
        {% if member %}{{member.name}}{% else %}らくばる{% endif %} レポート

        <a href="/rakubaru/reportscsvexport" style="color:white;font-size:14px;margin-left:10px; text-shadow:none;">
            <span class="fas fa-file-csv" aria-hidden="true" style="margin-right:5px;"></span>CSV出力
        </a>

    </div>
    <br>
    <div style="width:100%; text-align:center; display:inline-block;">
        <div style="width:400px; display:inline-block;">
            <div style="width:100%;">
                <i class="fa fa-search" style="font-size:20px; float:left; color:white; margin-top:3px;"></i>
                <input type="text" placeholder="探す..." autocomplete="off" style="float:left; margin-left:10px; width:90%; background:transparent; border:0; padding:3px 6px; font-size:20px;
                    color:white; height:auto;" id="search" onkeyup="filter()" onchange="clear()">
            </div><br>
            <div style="background:white; width:400px; height:2px; margin-top:10px;"></div>
        </div>
    </div>
    <center>
        <div style="margin-top:20px;max-width:600px;color:white;background:#8d883f;border-radius:8px;padding:15px;font-size:16px;">
            ログデータの保管期限は60日間です。60日を超えて必要なログは、バックアップファイルをダウンロードしておいてください。
        </div>
    </center>
    <br>
    <div id="list">
        {% for report in reports %}
        <div class="report-form" style="position:relative;">
            <div class="contentform">
                <div style="width:100%; display:flex;" >
                    <div style="padding:10px; float:left; position:relative;">
                        <a href="#">
                            <img src="{% if report.member.picture_url %}{{report.member.picture_url}}{% else %}/static/images/rakubaru/profile.png{% endif %}"
                                style="width:60px; height:60px; border-radius:50%; object-fit:cover;">
                        </a>
                    </div>
                    <a href="#" style="flex-grow:1;">
                        <div style="padding-left:8px; float:left; margin-top:5px;">
                            <div style="color:black; font-size:20px; font-weight:600; text-align:left; word-wrap: break-word;">{{report.route.name}}</div>
                            {% if report.route.area_name %}
                            <div style="color:black; font-size:16px; font-weight:520;">{{report.route.area_name}}</div>
                            {% endif %}
                            {% if report.route.assign_title %}
                            <div style="color:black; font-size:14px;">{{report.route.assign_title}}</div>
                            {% endif %}
                            <div style="font-size:16px; margin-top:5px;">
                                <i class="fa fa-clock-o" style="color:orange; font-size:25px; margin-right:5px; vertical-align:middle;"></i>
                                {{report.route.start_time}} ~ {{report.route.end_time}}
                            </div>
                            <div style="font-size:16px; margin-left:20px; color:orange;">{{report.route.duration}}</div>
                            {% if report.route.description or report.route.admin_desc %}
                            <div style="font-size:14px; margin-left:20px; color:black;" id="desc">{{report.route.admin_desc}}</div>
                            {% else %}
                            <div style="font-size:14px; margin-left:20px; color:black; display:none;" id="desc"></div>
                            {% endif %}
                        </div>
                    </a>
                    <div style="float:right; margin:5px;">
                        <div style="font-size:16px;"><i class="fa fa-tachometer" style="color:orange; font-size:22px; margin-right:10px;"></i>{{report.route.speed}}km/h</div>
                        <div style="font-size:16px;"><i class="fas fa-route" style="color:orange; font-size:22px; margin-right:10px;"></i>{{report.route.distance}}km</div>
                    </div>
                </div>
                <div style="color:gray; float:right; font-size:12px; margin-right:5px; margin-bottom:6px;">{{report.route.reported_time}}</div>
            </div>

            <input hidden id="rtname" value="{{report.route.name}}">
            <input hidden id="rtstartend" value="{{report.route.start_time}} ~ {{report.route.start_time}}">
            <input hidden id="rtduration" value="{{report.route.duration}}">
            <input hidden id="rtspeed" value="{{report.route.speed}}">
            <input hidden id="rtdistance" value="{{report.route.distance}}">

            <div class="action-menu">
                <div class="form-group" style="margin-top:8px;">
                    <label style="color:#008CBA; font-size:14px; font-weight:600; padding:3px 8px 3px 8px; background-color:white;">{{report.member.name}}</label>
                </div>
                <div class="form-group" style="display:flex;">
                    <div style="flex-grow:1;">
                        <button class="bouton-update" style="width:60px;height:60px;text-align:center;font-size:11px;"
                            onclick="javascript:window.location.href='/rakubaru/csvexport?route_id={{report.route.pk}}';">
                            CSV<br>出力
                        </button>
                    </div>

                    <div style="flex-grow:1;display:none;">
                        <button class="bouton-update" style="width:60px;height:60px;text-align:center;font-size:11px;"
                            onclick="javascript:window.location.href='/rakubaru/jsonexport?route_id={{report.route.pk}}';">
                            JSON<br>出力
                        </button>
                    </div>

                    <div style="flex-grow:1;">
                        <button class="bouton-update" style="width:60px; height:60px; text-align:center;font-size:10px;"
                            onclick="javascript:window.location.href='/rakubaru/backup?route_id={{report.route.pk}}';">
                            BACKUP<br>出力
                        </button>
                    </div>

                    <div style="flex-grow:1;">
                        <button class="bouton-update" style="width:60px; height:60px; text-align:center;"
                            onclick="javascript:window.location.href='/rakubaru/raopenroutemap?route_id={{report.route.pk}}';">
                            <i class="fas fa-route" style="color:white; font-size:25px;"></i>
                        </button>
                    </div>

                    <div style="flex-grow:1;">
                        <button class="bouton-update" style="width:60px; height:60px; text-align:center;"
                            onclick="showEditPanel(this);" id="{{report.route.pk}}">
                            <i class="fa fa-pencil" style="color:white; font-size:25px;"></i>
                            <input hidden id="route_name" value="{{report.route.name}}">
                            <input hidden id="route_desc" value="{{report.route.admin_desc}}">
                        </button>
                    </div>

                    <div style="flex-grow:1;">
                        <button class="bouton-update" style="width:60px; height:60px; text-align:center;"
                            onclick="javascript: if(confirm('このレポートを削除してもよろしいですか？')) {
                                {% if member %} window.location.href='/rakubaru/radelroute?option=user&route_id={{report.route.pk}}&member_id={{member.pk}}';
                                {% else %} window.location.href='/rakubaru/radelroute?option=all&route_id={{report.route.pk}}';
                                {% endif %}
                            }">
                            <i class="fa fa-trash" style="color:white; font-size:25px;"></i>
                        </button>
                    </div>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>

    {% load tag_library %}
    <div class="center">
        <div class="pagination">
            <a href="{% if page_data.currentpage|to_int > 1 %}{% if member %}/rakubaru/rauserreports?member_id={{member.pk}}&page=1{% else %}/rakubaru/raallreports?page=1{% endif %}{% else %}javascript:void(0){% endif %}">&laquo;&laquo;</a>
            <a href="{% if page_data.currentpage|to_int > 1 %}{% if member %}/rakubaru/rauserreports?member_id={{member.pk}}&prev={{page_data.currentpage}}{% else %}/rakubaru/raallreports?prev={{page_data.currentpage}}{% endif %}{% else %}javascript:void(0){% endif %}">&laquo;</a>
            {% for i in range %}
        	{% if i >= 1 %}
            {% if page_data.currentpage|to_int == i %}
            <a href="#" class="active">{{i}}</a>
            {% else %}
            <a href="{% if member %}/rakubaru/rauserreports?member_id={{member.pk}}&page={{i}}{% else %}/rakubaru/raallreports?page={{i}}{% endif %}">{{i}}</a>
            {% endif %}
        	{% endif %}
        	{% endfor %}
            <a href="{% if page_data.currentpage|to_int < page_data.totalpages|to_int %}{% if member %}/rakubaru/rauserreports?member_id={{member.pk}}&next={{page_data.currentpage}}{% else %}/rakubaru/raallreports?next={{page_data.currentpage}}{% endif %}{% else %}javascript:void(0){% endif %}">&raquo;</a>
            <a href="{% if page_data.currentpage|to_int < page_data.totalpages|to_int %}{% if member %}/rakubaru/rauserreports?member_id={{member.pk}}&page={{page_data.totalpages}}{% else %}/rakubaru/raallreports?page={{page_data.totalpages}}{% endif %}{% else %}javascript:void(0){% endif %}">&raquo;&raquo;</a>
        </div>
    </div>

</div>


<div id="editBox" class="modal" onclick="javascript:modal.style.display='none';">
    <div class="modal-content">
        <span class="close" onclick="javascript:modal.style.display='none';">&times;</span>
        <form action="/rakubaru/raeditroute" method="post" enctype="multipart/form-data"
            style="font-size:16px; font-weight:300; padding:20px; background:white; width:100%; border-radius:5px;" id="editForm">
            {% csrf_token %}
            <i class="fa fa-pencil-square" style="color:#008CBA; font-size:30px;"></i><br>
            <div style="font-size:16px; text-align:center; width:100%;" id="rname"></div>
            <div class="form-group">
                <input type="hidden" name="route_id" id="rid">
                <input style="height:0.1px; opacity:0;">
                <script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>
                <textarea name="route_desc" id="rdesc" placeholder="ここに何か書いてください..."
                    style="width:100%; height:100px; min-height:100px; max-height:300px; padding:8px 15px; border-radius:5px; border:1px solid gray;"></textarea>
                <script>autosize(document.getElementById("rdesc"));</script>
            </div>
            <center><img src="/static/images/rakubaru/progressbar.gif" style="width:30px; height:30px; display: none;" id="gif"></center>
            <center>
                <button type="button" style="width:200px; background-color:#008CBA; padding:8px 12px 8px 12px; border:0; border-radius:50px; color:white;"
                    onclick="javascript:formSubmit(document.getElementById('editForm'), document.getElementById('gif'));">セーブ</button>
            </center>
        </form>
    </div>
</div>

<div id="backgroundOverlay" onclick="javascript:dismissLayouts();">
</div>

<div id="snackbar">Submited!</div>

<script>
    var list = document.getElementById("list");
    var lis = list.querySelectorAll( "#list > div" );
    var prods = [];
    var prods2 = [];
    for(var i=0; i<lis.length; i++){
       prods.push(lis[i]);
       prods2.push(lis[i]);
    }
    function filter(){
        var keyword = document.getElementById("search").value;
        if(keyword.length > 0){
            list.innerHTML = "";
            for(var i=0; i<prods.length; i++){
                var rtname = prods[i].querySelector("input[id='rtname']");
                if(rtname.value.toLowerCase().includes(keyword.toLowerCase())){
                    list.appendChild(prods[i]);
                }
                else {
                    var rtstartend = prods[i].querySelector("input[id='rtstartend']");
                    if(rtstartend.value.toLowerCase().includes(keyword.toLowerCase())){
                        list.appendChild(prods[i]);
                    }else {
                        var rtdistance = prods[i].querySelector("input[id='rtdistance']");
                        if(rtdistance.value.toLowerCase().includes(keyword.toLowerCase())){
                            list.appendChild(prods[i]);
                        }else {
                            var rtspeed = prods[i].querySelector("input[id='rtspeed']");
                            if(rtspeed.value.toLowerCase().includes(keyword.toLowerCase())){
                                list.appendChild(prods[i]);
                            }else {
                                var rtduration = prods[i].querySelector("input[id='rtduration']");
                                if(rtduration.value.toLowerCase().includes(keyword.toLowerCase())){
                                    list.appendChild(prods[i]);
                                }
                            }
                        }
                    }
                }
            }
        }else{
            list.innerHTML = "";
            for(var i=0; i<prods2.length; i++){
                list.appendChild(prods2[i]);
            }
        }
    }

    function clear(){
        var keyword = document.getElementById("search").value;
        if(keyword.length == 0){
            // alert('clear?');
            list.innerHTML = "";
            for(var i=0; i<prods2.length; i++){
                list.appendChild(prods2[i]);
            }
        }
    }
</script>

<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="glyphicon glyphicon-menu-up" style="color:white; font-size:14px;"></i></button>

<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
        document.getElementById("title").style.display = "block";
        document.getElementById("csv-title").style.color = "red";
    } else {
        document.getElementById("myBtn").style.display = "none";
        document.getElementById("title").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}

function detectMob() {
    return ( ( window.innerWidth <= 800 ) && ( window.innerHeight <= 600 ) );
}

var modal = document.getElementById("editBox");
var selectedObj;

function showEditPanel(obj) {
    selectedObj = obj;
    document.getElementById('rid').value = obj.id;
    // document.getElementById('backgroundOverlay').style.display='block';
    modal.style.display='block';
    var route_name = obj.querySelector("#route_name");
    var selector = ".report-form";
    var parent = findParentBySelector(obj, selector);
    var route_desc = parent.querySelector("#desc");
    document.getElementById('rname').innerHTML = route_name.value;
    document.getElementById('rdesc').value = route_desc.innerHTML;
}

$("#editBox div").click(function(e) {
   // Do something
   e.stopPropagation();
});

function dismissLayouts(){
    modal.style.display = "none";
}

function formSubmit(form, gif){
    // if(document.getElementById('rdesc').value == ''){
    //     return;
    // }
    gif.style.display = "block";
    var formData = new FormData(form);
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var result = xhr.response;
            console.log('Edit Response: ' + result);
            if(result == 'success') {
                showToast('保存しました。');

                var selector = ".report-form";
                var parent = findParentBySelector(selectedObj, selector);
                var desc = parent.querySelector("#desc");
                if (desc != null) {
                    desc.innerHTML = document.getElementById('rdesc').value;
                    desc.style.display = 'block';
                }
            }else alert('エラー');

            gif.style.display = "none";
            dismissLayouts();
        }
    };
    xhr.open('POST', form.getAttribute('action'), true);
    xhr.send(formData);
}

function collectionHas(a, b) { //helper function (see below)
    for(var i = 0, len = a.length; i < len; i ++) {
        if(a[i] == b) return true;
    }
    return false;
}

function findParentBySelector(elm, selector) {
    var all = document.querySelectorAll(selector);
    var cur = elm.parentNode;
    while(cur && !collectionHas(all, cur)) { //keep going up until you find a match
        cur = cur.parentNode; //go up
    }
    return cur; //will return null if not found
}

function showToast(text) {
    var x = document.getElementById("snackbar");
    x.innerHTML = text;
    x.className = "show";
    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
}

</script>

{%else %}
        <center>
            <h3 class="my_items col-sm-offset-1" style="color:white; margin-top:150px;">レポートは存在しません</h3></center>

{% endif %}
{% endblock %}


















