{% extends 'rakubaru/base_back.html' %}
{% block title %}{{report.route.name}}{% endblock %}
{% block body %}

<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false&libraries=geometry"></script>

<style>

html, body{
  background: #BDB76B no-repeat center center fixed;
  background-size:cover;
}

.form {
  border-radius: 8px;
  min-width:350px;
  max-width:400px;
  width:auto;
  height:auto;
  overflow: hidden;
  background-color:rgba(255,255,255,0.9);
}

#form:hover {

}

p span {
  color: #F00;
}

p {
  margin: 0px;
  font-weight: 600;
  line-height: 2;
  color:#fff;
}

h1 {
  text-align:center;
  color: #666;
  text-shadow: 1px 1px 0px #FFF;
  margin:50px 0px 0px 0px
}

input {
  border-radius: 50px;
  border: 1px solid #eee;
  margin-bottom: 15px;
  margin-right:auto;
  width: 100%;
  height: 42px;
  opacity:0.95;
  float: middle;
  padding: 0px 15px;
  color:black;
  text-align:left;
}

.form-group {
  overflow: hidden;
  width:100%;
}

.contentform {
  padding: 15px;
  float:middle;
  margin:auto;
}


.formcontent {
  width:100%;
  float:middle;
  margin:auto;
  box-sizing: border-box;
}

.bouton-update{
  background-color: #0077b3;
  color: #FFF;
  text-align: center;
  width: 100%;
  border:0;
  opacity:0.95;
  padding: 12px 18px;
  border-radius: 50px 50px 50px 50px;
  cursor: pointer;
  font-size: 16px;
}

#backgroundOverlay{
  background-color:rgba(0,0,0,0.6);
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:200;
  display:none;
}

.item{
    color:black;
    background-color:#eee;
    text-align:center;
    padding:3px;
    font-size:12px;
    border:1px solid white;
    text-decoration:none;
}

.item:hover {
    color:white;
    background-color:blue;
}

</style>

<div style="width:450px; height:auto; margin:30px 0px 0px 5px; overflow:auto; position:fixed; z-index:1000;">
    <br>
    <br>
    <div style="width:100%;">
        <div style="width:100%;">
            <div class="form">
                <div class="contentform">
                    <div style="width:100%; position:relative;">
                        <div class="form-group">
                            <div style="padding-left:8px; float:left; margin-top:5px;">
                                <div style="color:black; font-size:16px; font-weight:600; text-align:left; word-wrap: break-word;">{{report.route.name}}</div>
                                <div style="font-size:14px; margin-top:5px;">
                                    <i class="fa fa-clock-o" style="color:orange; font-size:16px; margin-right:5px; vertical-align:middle;"></i>
                                    {{report.route.start_time}} ~ {{report.route.end_time}}
                                </div>
                                <div style="font-size:12px; margin-left:20px; color:orange;">{{report.route.duration}}</div>
                                {% if report.route.description %}
                                <div style="font-size:14px; margin-left:20px; color:black;" id="desc">{{report.route.admin_desc}}</div>
                                {% endif %}
                            </div>
                            <div style="float:right; margin:5px;">
                                <div style="font-size:14px;"><i class="fa fa-tachometer" style="color:orange; font-size:16px; margin-right:10px;"></i>{{report.route.speed}}km/h</div>
                                <div style="font-size:14px;"><i class="fas fa-route" style="color:orange; font-size:16px; margin-right:10px;"></i>{{report.route.distance}}km</div>
                            </div>
                        </div>

                        <label style="right:25px; bottom:80px; position:absolute; color:green;">追跡</label>
                        <button id="travelBtn" style="right:0px; bottom:0px; position:absolute; width:80px; height:80px; border:0; border-radius:50%; background-color:green; color:white;
                            font-weight:600; font-size:14px;" onclick="startTravel();">開始</button>

                        <div style="width:100%; text-align:right; color:black;">
                            <div style="display:flex;">
                                <div style="flex-grow:0.1;"></div>
                                <div style="width:100px; height:5px; background-color:#E60012; margin:3px;"></div>
                                <div style="width:150px; margin-left:20px; text-align:left; font-size:12px;">0 ~ 2&nbsp;&nbsp;km/h</div>
                                <div style="flex-grow:1;"></div>
                            </div>
                            <div style="display:flex;">
                                <div style="flex-grow:0.1;"></div>
                                <div style="width:100px; height:5px; background-color:#F39800; margin:3px;"></div>
                                <div style="width:150px; margin-left:20px; text-align:left; font-size:12px;">2 ~ 4&nbsp;&nbsp;km/h</div>
                                <div style="flex-grow:1;"></div>
                            </div>
                            <div style="display:flex;">
                                <div style="flex-grow:0.1;"></div>
                                <div style="width:100px; height:5px; background-color:#FFF100; margin:3px;"></div>
                                <div style="width:150px; margin-left:20px; text-align:left; font-size:12px;">4 ~ 6&nbsp;&nbsp;km/h</div>
                                <div style="flex-grow:1;"></div>
                            </div>
                            <div style="display:flex;">
                                <div style="flex-grow:0.1;"></div>
                                <div style="width:100px; height:5px; background-color:#8FC31F; margin:3px;"></div>
                                <div style="width:150px; margin-left:20px; text-align:left; font-size:12px;">6 ~ 8&nbsp;&nbsp;km/h</div>
                                <div style="flex-grow:1;"></div>
                            </div>
                            <div style="display:flex;">
                                <div style="flex-grow:0.1;"></div>
                                <div style="width:100px; height:5px; background-color:#009944; margin:3px;"></div>
                                <div style="width:150px; margin-left:20px; text-align:left; font-size:12px;">8 ~ 16&nbsp;&nbsp;km/h</div>
                                <div style="flex-grow:1;"></div>
                            </div>
                            <div style="display:flex;">
                                <div style="flex-grow:0.1;"></div>
                                <div style="width:100px; height:5px; background-color:#00A0E9; margin:3px;"></div>
                                <div style="width:150px; margin-left:20px; text-align:left; font-size:12px;">16 ~ 32&nbsp;&nbsp;km/h</div>
                                <div style="flex-grow:1;"></div>
                            </div>
                            <div style="display:flex;">
                                <div style="flex-grow:0.1;"></div>
                                <div style="width:100px; height:5px; background-color:#0068B7; margin:3px;"></div>
                                <div style="width:150px; margin-left:20px; text-align:left; font-size:12px;">32 ~ 64&nbsp;&nbsp;km/h</div>
                                <div style="flex-grow:1;"></div>
                            </div>
                            <div style="display:flex;">
                                <div style="flex-grow:0.1;"></div>
                                <div style="width:100px; height:5px; background-color:#1D2088; margin:3px;"></div>
                                <div style="width:150px; margin-left:20px; text-align:left; font-size:12px;">64&nbsp;&nbsp;km/h ~ </div>
                                <div style="flex-grow:1;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="map_canvas" style="width:100%; height:100%; display:block;"><noscript><p>GoogleマップをレンダリングするにはJavaScriptが必要です</p></noscript></div>

<script>
  var tracingPath = []
  var map = null;
  var bearing = 270;
  var lastPosn = null;

  var symbol = {
    path: "M62.1,36.5c-0.9-1.2-3.6-1.5-3.6-1.5c0.1-3.5,0.5-6.9,0.7-8.2c1.9-7.3-1.7-11.8-1.7-11.8c-4.8-4.8-9.1-5-12.5-5   c-3.4,0-7.8,0.3-12.5,5c0,0-3.6,4.5-1.7,11.8c0.2,1.2,0.5,4.6,0.7,8.2c0,0-2.7,0.3-3.6,1.5c-0.9,1.2-0.9,1.9,0,1.9   c0.9,0,2.9-2.3,3.6-2.3V35c0,1,0.1,2,0.1,3c0,4.4,0,33.7,0,33.7s-0.3,6.1,5,7.8c1.2,0,4.6,0.4,8.4,0.5c3.8-0.1,7.3-0.5,8.4-0.5   c5.3-1.7,5-7.8,5-7.8s0-29.3,0-33.7c0-1,0-2,0.1-3v1.2c0.7,0,2.7,2.3,3.6,2.3C63,38.5,63,37.7,62.1,36.5z M34.7,66.5   c-0.3,3.3-2.3,4.1-2.3,4.1V37.4c0.8,1.2,2.3,6.8,2.3,6.8S34.9,63.2,34.7,66.5z M54.8,75.2c0,0-4.2,2.3-9.8,2.2   c-5.6,0.1-9.8-2.2-9.8-2.2v-2.8c4.9,2.2,9.8,2.2,9.8,2.2s4.9,0,9.8-2.2V75.2z M35.2,41.1l-1.7-10.2c0,0,4.5-3.2,11.5-3.2   s11.5,3.2,11.5,3.2l-1.7,10.2C51.4,39.2,38.6,39.2,35.2,41.1z M57.7,70.6c0,0-2.1-0.8-2.3-4.1c-0.3-3.3,0-22.4,0-22.4   s1.5-5.6,2.3-6.8V70.6z",
    fillColor: '#FF0000',
    fillOpacity: .5,
    anchor: new google.maps.Point(45, 45),
    strokeWeight: 1,
    scale: .5,
    rotation: bearing
  }

  function initMap() {
    // map options
    var options = {
        zoom: 5,
        center: {
          lat: 39.74608499,
          lng: -90.26048664
        },
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        mapTypeControl: true,
        mapTypeControlOptions: {
            style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
            position: google.maps.ControlPosition.LEFT_BOTTOM
        },
        scaleControl: true,
        fullscreenControl: true,
        fullscreenControlOptions: {
            position: google.maps.ControlPosition.RIGHT_CENTER
        }
    }
    map = new google.maps.Map(document.getElementById('map_canvas'), options);

    var bounds = new google.maps.LatLngBounds();

    {% if report %}
    {% for point in report.points %}
        {% if point.lat != None %}
            var position = new google.maps.LatLng( {{point.lat}}, {{point.lng}} );
            // add position to bounds
        	bounds.extend( position );
            {% if forloop.last %}
                addMarker2(position, '終わり');
            {% endif %}
        {% endif %}
    {% endfor %}
    {% else %}
    alert('No route data...');
    {% endif %}

    addMarker2(new google.maps.LatLng( {{report.points.0.lat}}, {{report.points.0.lng}} ), '開始');

    map.fitBounds( bounds );

    const flightPlanCoordinates = [
        {% for point in report.points %}
            {% if point.lat != None %}
                [{ lat: {{ point.lat }}, lng: {{ point.lng }} }, '{{point.color}}',  {{ point.lat }}, {{ point.lng }}],
            {% endif %}
        {% endfor %}
    ];

    tracingPath = flightPlanCoordinates;
    lastPosn = new google.maps.LatLng(parseFloat(tracingPath[0][2]), parseFloat(tracingPath[0][3]));

    // const flightPlanCoordinates2 = [
    //     {% for point in report.points %}
    //         {% if point.lat != None %}
    //             [{{ point.lat }}, {{ point.lng }}],
    //         {% endif %}
    //     {% endfor %}
    // ];

    // tracingPath2 = interpolateLineRange(flightPlanCoordinates2, flightPlanCoordinates2.length * 10, .0000000001);

    // lastPosn = new google.maps.LatLng(parseFloat(tracingPath2[0][0]), parseFloat(tracingPath2[0][1]));

    // const flightPlanCoordinates = [
    //     { lat: 37.772, lng: -122.214 },
    //     { lat: 21.291, lng: -157.821 },
    //     { lat: -18.142, lng: 178.431 },
    //     { lat: -27.467, lng: 153.027 },
    // ];

    for (var i = 0; i < flightPlanCoordinates.length-1; i++) {

        var flightPath = new google.maps.Polyline({
            path: [flightPlanCoordinates[i][0], flightPlanCoordinates[i+1][0]],
            strokeColor: flightPlanCoordinates[i+1][1],
            strokeOpacity: 1.0,
            strokeWeight: 3,
            map: map
        });
        flightPath.setMap(map);

    }

    // const flightPath = new google.maps.Polyline({
    //     path: flightPlanCoordinates,
    //     geodesic: true,
    //     strokeColor: "#FF0000",
    //     strokeOpacity: 1.0,
    //     strokeWeight: 2,
    // });

    // flightPath.setMap(map);

    // Add a marker clusterer to manage the markers.

    //Add marker
    var markers = [

        {% for pin in report.pins %}
            {% if pin.lat != None %}
                {
                    coords: {
                      lat: {{ pin.lat }},
                      lng: {{ pin.lng }}
                    },
                    content: '<label style="font-weight:500;">{{pin.comment}}</label><div style="font-weight:300; font-size:14px;">{{pin.time}}</div>',
                },
            {% endif %}
        {% endfor %}

    ];

    // Loop through markers
    var gmarkers = [];
    for (var i = 0; i < markers.length; i++) {
      gmarkers.push(addMarker(markers[i]));

    }

    //Add MArker function
    function addMarker(props) {
      var marker = new google.maps.Marker({
        position: props.coords,
        map: map,

      });

      /* if(props.iconImage){
        marker.setIcon(props.iconImage);
      } */

      //Check content
      if (props.content) {
        var infoWindow = new google.maps.InfoWindow({
          content: props.content
        });
        marker.addListener('click', function() {
          infoWindow.open(map, marker);
        });
      }
      return marker;
    }

    //Add MArker function
    function addMarker2(latlng, title) {
      var marker = new google.maps.Marker({
        position: latlng,
        map: map,

      });

      var infoWindow = new google.maps.InfoWindow({
          content: title
      });
      infoWindow.open(map, marker);
      marker.addListener('click', function() {
          infoWindow.open(map, marker);
      });
    }

    // var p = new google.maps.LatLng(parseFloat(tracingPath2[1][0]), parseFloat(tracingPath2[1][1]));
    // var heading = google.maps.geometry.spherical.computeHeading(lastPosn, p);
    // symbol.rotation = heading;

    // marker = new google.maps.Marker({
    //     position: { lat: tracingPath2[0][0], lng: tracingPath2[0][1] },
    //     map: map,
    //     icon: symbol
    // });

    var p = new google.maps.LatLng(parseFloat(tracingPath[1][2]), parseFloat(tracingPath[1][3]));
    var heading = google.maps.geometry.spherical.computeHeading(lastPosn, p);
    symbol.rotation = heading;

    marker = new google.maps.Marker({
        position: tracingPath[0][0],
        map: map,
        icon: symbol
    });

  }

  function hdistance(loc1, loc2) {
      var R = 3958.8; // Radius of the Earth in miles
      var rlat1 = loc2['lat'] * (Math.PI/180); // Convert degrees to radians
      var rlat2 = loc2['lat'] * (Math.PI/180); // Convert degrees to radians
      var difflat = rlat2-rlat1; // Radian difference (latitudes)
      var difflon = (loc2['lng']-loc1['lng']) * (Math.PI/180); // Radian difference (longitudes)

      var d = 2 * R * Math.asin(Math.sqrt(Math.sin(difflat/2)*Math.sin(difflat/2)+Math.cos(rlat1)*Math.cos(rlat2)*Math.sin(difflon/2)*Math.sin(difflon/2)));
      return d;
  }

  function removeElement(array, elem) {
    var index = array.indexOf(elem);
    if (index > -1) {
        array.splice(index, 1);
    }
  }


  function getRandomColor() {
      var letters = '0123456789ABCDEF';
      var color = '#';
      for (var i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
      }
      return color;
  }

  var myTimer;
  var iii = 0;
  var marker = null;
  var travelBtn = document.getElementById('travelBtn');

//   function startTravel() {
//       if(myTimer == null){
//           myTimer = setInterval(travel, 100);   // 1:1 speed
//           travelBtn.style.backgroundColor = "red";
//           travelBtn.innerHTML = "Stop";
//       }else {
//           if(iii < tracingPath2.length - 1) stopTravel('resume');
//       }
//   }

//   function travel() {
//       if(map != null) {
//           if(iii == tracingPath2.length - 1) stopTravel('start');
//           if(iii < tracingPath2.length - 1) {
//               if(marker == null) {
//                   marker = new google.maps.Marker({
//                     position: { lat: tracingPath2[iii][0], lng: tracingPath2[iii][1] },
//                     map: map,
//                     icon: symbol
//                   });
//               }else {
//                   marker.setPosition( { lat: tracingPath2[iii][0], lng: tracingPath2[iii][1] } );
//                   var p = new google.maps.LatLng(tracingPath2[iii+1][0], tracingPath2[iii+1][1]);
//                   var heading = google.maps.geometry.spherical.computeHeading(lastPosn, p);
//                   symbol.rotation = heading;
//                   marker.setIcon(symbol);

//                   lastPosn = marker.getPosition();

//                 //   map.panTo( { lat: tracingPath2[iii][0], lng: tracingPath2[iii][1] } );

//               }

//               iii++;
//           }
//       }
//   }

//   function stopTravel(option) {
//       if(myTimer != null) {
//           if(option == 'resume') {
//               travelBtn.style.backgroundColor = "green";
//               travelBtn.innerHTML = "Resume";
//           }else if(option == 'start') {
//               travelBtn.style.backgroundColor = "green";
//               travelBtn.innerHTML = "Start";
//               iii = 0;
//           }
//           clearInterval(myTimer);
//           myTimer = null;
//       }
//   }

  function startTravel() {
      if(myTimer == null){
          myTimer = setInterval(travel, 1000);
          travelBtn.style.backgroundColor = "red";
          travelBtn.innerHTML = "中断";
      }else {
          if(iii < tracingPath.length - 1) stopTravel('resume');
      }
  }

  function travel() {
      if(map != null) {
          if(iii == tracingPath.length - 1) stopTravel('start');
          if(iii < tracingPath.length - 1) {
              if(marker == null) {
                  marker = new google.maps.Marker({
                    position: tracingPath[iii][0],
                    map: map,
                    icon: symbol
                  });
              }else {
                  var p = new google.maps.LatLng(parseFloat(tracingPath[iii+1][2]), parseFloat(tracingPath[iii+1][3]));
                  var heading = google.maps.geometry.spherical.computeHeading(lastPosn, p);
                  symbol.rotation = heading;
                  marker.setIcon(symbol);

                  var tracingPath2 = interpolateLineRange([[parseFloat(tracingPath[iii][2]), parseFloat(tracingPath[iii][3])], [parseFloat(tracingPath[iii+1][2]), parseFloat(tracingPath[iii+1][3])]], 20, .00000000000000000001);
                  var iiii = 0;
                  function moveMarker() {
                      try {
                          marker.setPosition( { lat: parseFloat(tracingPath2[iiii][0]), lng: parseFloat(tracingPath2[iiii][1]) } );
                          map.panTo( marker.getPosition() );
                          lastPosn = marker.getPosition();
                      }
                      catch(err) {
                          console.log('Error+++++++' + err.message);
                      }
                      iiii++;
                      if(iiii < tracingPath2.length){
                          setTimeout(moveMarker, 50);
                      }
                  }
                  if(tracingPath2.length > 0) {
                      moveMarker();
                  }
                  lastPosn = p;
              }

              iii++;
          }
      }
  }

  function stopTravel(option) {
      if(myTimer != null) {
          if(option == 'resume') {
              travelBtn.style.backgroundColor = "green";
              travelBtn.innerHTML = "再開";
          }else if(option == 'start') {
              travelBtn.style.backgroundColor = "green";
              travelBtn.innerHTML = "開始";
              iii = 0;
          }
          clearInterval(myTimer);
          myTimer = null;
      }
  }



function distance( pt1, pt2 ){
  var deltaX = pt1[0] - pt2[0];
  var deltaY = pt1[1] - pt2[1];
  return Math.sqrt( deltaX * deltaX + deltaY * deltaY );
}

function offsetPoint( point, dx, dy, distRatio ){
  return [
    point[ 0 ] - dy * distRatio,
    point[ 1 ] + dx * distRatio
  ];
}

function interpolateLineRange( ctrlPoints, number, offsetDist, minGap ){
  minGap = minGap || 0;
  offsetDist = offsetDist || 0;

  // Calculate path distance from each control point (vertex) to the beginning
  // of the line, and also the ratio of `offsetDist` to the length of every
  // line segment, for use in computing offsets.
  var totalDist = 0;
  var ctrlPtDists = [ 0 ];
  var ptOffsetRatios = [];
  for( var pt = 1; pt < ctrlPoints.length; pt++ ){
    var dist = distance( ctrlPoints[ pt ], ctrlPoints[ pt - 1 ] );
    totalDist += dist;
    ptOffsetRatios.push( offsetDist / dist );
    ctrlPtDists.push( totalDist );
  }

  if( totalDist / (number - 1) < minGap ){
    number = totalDist / minGap + 1;
  }

  // Variables used to control interpolation.
  var step = totalDist / (number - 1);
  var interpPoints = [ offsetPoint(
    ctrlPoints[ 0 ],
    ctrlPoints[ 1 ][ 0 ] - ctrlPoints[ 0 ][ 0 ],
    ctrlPoints[ 1 ][ 1 ] - ctrlPoints[ 0 ][ 1 ],
    ptOffsetRatios[ 0 ]
  )];
  var prevCtrlPtInd = 0;
  var currDist = 0;
  var currPoint = ctrlPoints[ 0 ];
  var nextDist = step;

  for( pt = 0; pt < number - 2; pt++ ){
    // Find the segment in which the next interpolated point lies.
    while( nextDist > ctrlPtDists[ prevCtrlPtInd + 1 ] ){
      prevCtrlPtInd++;
      currDist = ctrlPtDists[ prevCtrlPtInd ];
      currPoint = ctrlPoints[ prevCtrlPtInd ];
    }

    // Interpolate the coordinates of the next point along the current segment.
    var remainingDist = nextDist - currDist;
    var ctrlPtsDeltaX = ctrlPoints[ prevCtrlPtInd + 1 ][ 0 ] -
      ctrlPoints[ prevCtrlPtInd ][ 0 ];
    var ctrlPtsDeltaY = ctrlPoints[ prevCtrlPtInd + 1 ][ 1 ] -
      ctrlPoints[ prevCtrlPtInd ][ 1 ];
    var ctrlPtsDist = ctrlPtDists[ prevCtrlPtInd + 1 ] -
      ctrlPtDists[ prevCtrlPtInd ];
    var distRatio = remainingDist / ctrlPtsDist;

    currPoint = [
      currPoint[ 0 ] + ctrlPtsDeltaX * distRatio,
      currPoint[ 1 ] + ctrlPtsDeltaY * distRatio
    ];

    // Offset currPoint according to `offsetDist`.
    var offsetRatio = offsetDist / ctrlPtsDist;
    interpPoints.push( offsetPoint(
      currPoint, ctrlPtsDeltaX, ctrlPtsDeltaY, ptOffsetRatios[ prevCtrlPtInd ])
    );

    currDist = nextDist;
    nextDist += step;
  }

  interpPoints.push( offsetPoint(
    ctrlPoints[ ctrlPoints.length - 1 ],
    ctrlPoints[ ctrlPoints.length - 1 ][ 0 ] -
      ctrlPoints[ ctrlPoints.length - 2 ][ 0 ],
    ctrlPoints[ ctrlPoints.length - 1 ][ 1 ] -
      ctrlPoints[ ctrlPoints.length - 2 ][ 1 ],
    ptOffsetRatios[ ptOffsetRatios.length - 1 ]
  ));
  return interpPoints;
}



</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAD08ggeOQbSPf8_w-8KvqKhqeXWH3GM8s&callback=initMap">
</script>

<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="backgroundOverlay" onclick="javascript:dismissLayouts();">
</div>


{% endblock %}














