{% extends 'businessmanagement/base_master.html' %}
{% block title %}自社情報マスタ | らくばる業務管理{% endblock %}

{% block body %}

<link rel="stylesheet" type="text/css" href="/static/css/radiobutton.css"/>

<style>

html, body{background:#006699;}

.dropdown {position: relative;display: inline-block;}

.dropdown-content {display: none;position: absolute;background-color: #f9f9f9;min-width: 160px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);z-index: 1;}

.dropdown:hover .dropdown-content {display: block;}

.header {height:70px;}

.header1 {text-align:left;height:200px;}

.header2 {background-color:#0495af;color: white;font-size: 1.5em;padding: 2rem;text-align: center;border: 1px solid white;}

.manage {border-radius: 10%;}

.table-owner {width:140%;background:transparent;overflow-x:auto;}

.table-owner1 {width:140%;overflow-x:auto;position:relative;margin-top:0;z-index:1;background:transparent;display:none;}

table {border:0;}

table td, table th {color:#2b686e;padding:10px;text-align:center;}

table td {font-size:13px;color:white;border:1px solid rgba(255,255,255,0.4);}

table td > .text-left {font-size:13px;}

table td:last-child {font-size:0.95em;line-height:1.4;}

table th {background-color:#004466;font-weight:520;color:white;border:1px solid #006699;text-align:center;}

table tr {background-color:transparent;border:0;}

table tr:nth-child(2n) {background-color:transparent;}

table tr:nth-child(2n+1) {background-color:rgba(237,247,248,0.1);}

.subloc_name {font-size: 12px;margin-left: 10px;list-style-type: square;}

#top-scroll {display: none;position: fixed;bottom: 20%;right: 15px;z-index: 99;border: none;outline: none;background-color: rgba(0,0,0,0.3);color: white;cursor: pointer;padding: 15px;border-radius: 50%;}

#top-scroll:hover {background-color: orange;}

.owneraddress{color:black;}

.owneraddress:hover{color:blue;}

.hyperlink{color:black;font-size:25px;}

.hint0{color:blue;font-size:12px;display:block;}

.hint{color:blue;font-size:12px;display:none;}

.hyperlink:hover .hint0 {display:none;}

.hyperlink:hover .hint {display:inline-block;}

.subscription {
    color:black;
    white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap;     /* Opera <7 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* IE */
}

.btn-subscr {color:black;text-decoration: underline;font-size:12px;}

.btn-subscr:hover {color:red;}

.centered-and-cropped { object-fit:cover }

.show {z-index:1000;position: absolute;background-color:#ffffff;border: 2px solid orange;box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.25);padding:10px;border-radius:20px;display: block;font-size:20px;margin: 0;
    list-style-type: none;list-style: none;}

.hide {display: none;}

.show li{ list-style: none; }
.show a { border: 0 !important; text-decoration: none; }
.show a:hover { text-decoration: underline !important; }

label input {display: none;}

label span {height: 15px;width: 15px;border-radius:50%;border: 1px solid black;background-color:transparent;margin-right:3px;display: inline-block;position: relative;}

[type=checkbox]:checked + span:before {content: '\2714';color:white;position: absolute;top: -5px;left: 0;}

#backgroundOverlay{background-color:rgba(0,0,0,0.4);position:fixed;top:0;left:0;right:0;bottom:0;z-index:888;display:none;}

.bouton-update{background-color: #008CBA;color: #FFF;text-align: center;width: 100%;border:0;padding: 12px 18px;border-radius: 50px;cursor: pointer;font-size: 16px;}

.form-group {overflow:hidden;width:100%;}

input {margin-bottom:15px;margin-right:auto;width:100%;height:36px;opacity:0.95;float:middle;padding:0px 15px;color:black;text-align:left;border:2px solid gray;border-radius: 50px;}

input:focus {outline:0;border:2px solid red;}

select {width: 100%;height: 42px;border-radius: 50px;border: 1px solid #eee;padding: 0px 15px;color:black;text-align-last:center;}

label input {display: none;}

label span {height: 25px;width: 25px;text-align:center;padding-bottom:5px;display: inline-block;position: relative;border:0;border-radius:3px;}

[type=checkbox]:checked + span:before {content: '\2714';position: absolute;top:0;font-size:20px;left: 3px;}

[type=checkbox]:checked + span:after {/* <-- style its checked state..with a ticked icon */content: '\2714';position: absolute;top:0;left: 3px;font-size:20px;color:red;}

.cropping{object-fit:cover;}

#memberListBox {position: absolute;transform: translateY(100%);-webkit-transform: translateY(100%);}

.slide-in {animation: slide-in 0.5s forwards;-webkit-animation: slide-in 0.5s forwards;}

.slide-out {animation: slide-out 0.5s forwards;-webkit-animation: slide-out 0.5s forwards;}

@keyframes slide-in {100% { transform: translateY(0%); }}

@-webkit-keyframes slide-in {100% { -webkit-transform: translateY(0%); }}

@keyframes slide-out {0% { transform: translateY(0%); }100% { transform: translateY(100%); }}

@-webkit-keyframes slide-out {0% { -webkit-transform: translateY(0%); }100% { -webkit-transform: translateY(100%); }}

#btn-assign {font-size:16px; margin:15px; width:250px; position:absolute; right:3%; top:25px; background-color:#8a00e6; display:none;}

#regform {font-size:16px; font-weight:300; color: black; z-index:999; box-shadow: 0px 0px 100px rgba(0, 0, 0, 1.0);position:fixed; left:50%; float:middle; background-color:white;
    border-radius:10px; padding: 8px 15px 15px 15px;transform:translate(-50%, -50%); width:900px; top:400px; display:none;}

#info-form {width:100%; display:inline-block;}

#submit-button {margin-top:15px;background-color:#0077b3;color:white;font-size:14px;padding:12px 18px;width:100%;border-radius:50px;border:0;}

@media (max-width: 600px) {
    #regform {width:90vw; min-width:350px; height:90vh; margin-top:50px; overflow:auto; scrollbar:none; }
    #regform::-webkit-scrollbar{width:0;}
}

.manage-btn {font-size:16px;color:rgba(255,255,255,0.6);}

.manage-btn:hover {font-size:18px;color:rgba(255,255,255,1.0);}

.text-left {text-align:left;}

.pan {max-width:600px;width:auto;height:auto;margin-bottom: auto;margin-left:auto;margin-right:0;opacity:0.9;overflow: hidden;}

.pan2 {max-width:600px;width:auto;height:auto;margin-bottom: auto;margin-left:0;margin-right:auto;opacity:0.9;overflow: hidden;}

#no_result {font-size:16px; font-weight:300; color:rgba(255,255,255,0.4); text-align:center;position:fixed; left:50%; float:middle; padding: 10px 15px 10px 15px;transform:translate(-50%, -50%);
    width:auto; z-index:100; top:450px; display:none;}

#title0 {font-size:30px; font-weight:800; color:white; text-align:center;position:fixed; left:50%; float:middle; padding:10px 15px 10px 15px;transform:translate(-50%, -50%); width:auto;
    top:130px; z-index:333; display:block;}

#title {font-size:16px; font-weight:800; color:white; text-align:center; border-radius:50px 5px 50px 5px; padding:5px 40px 5px 40px; background-color:rgba(0,0,0,0.1); display:none; position:fixed; left:50%;
    float:middle; transform:translate(-50%, -50%); width:auto; z-index:100000; top:140px;}

.comp-add {color:rgba(255,255,255,0.6);font-size:16px;margin-left:10px;}

.comp-add:hover {color:white;}

.n-ttl {font-size:18px; font-weight:600; color:black; text-align:center;}

.n-close {width:25px; height:25px; float:right; cursor:pointer;}

.field {text-align:center; width:100%;}

.progressbar {width:30px; height:30px; display:none;}

.ast {color:red;}


</style>

<script>
	history.pushState(null, null, location.href);
    history.back();
    history.forward();
    window.onpopstate = function () { history.go(1); };
</script>

<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="../lib/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="no_result">
    会社情報が登録されていません...
</div>

<div id="title0">自社情報マスタ<a href="javascript:void(0)" onclick="openRegBox()"><i class="fa fa-plus-circle comp-add" aria-hidden="true"></i></a></div>

{% if companyinfos %}

<div id="title">自社情報マスタ</div>

<button onclick="topFunction()" id="top-scroll"><i class="glyphicon glyphicon-menu-up" style="color:white; font-size:14px;"></i></button>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class="table-owner1" id="header" align="top">
    <div class="header" id="header"></div>
    <table cellspacing="0" class="table table-fit">
        <tr>
            <th style="width:3%;">id</th>
            <th style="width:5%;">会社名</th>
            <th style="width:5%;">担当者</th>
            <th style="width:5%;">電話番号</th>
            <th style="width:5%;">FAX番号</th>
            <th style="width:8%;">メール</th>
            <th style="width:5%;">郵便番号</th>
            <th style="width:12%;">住所</th>
            <th style="width:5%;">銀行名</th>
            <th style="width:5%;">支店名</th>
            <th style="width:5%;">口座種別</th>
            <th style="width:5%;">口座番号</th>
            <th style="width:5%;">適格登録番号</th>
            <th style="width:5%;">請求書番号</th>
            <th style="width:10%;">メモ</th>
            <th style="width:5%;">編集 / 削除</th>
        </tr>
    </table>
</div>

<div class="table-owner">
    <div class="header1" id="header1" style="position:relative;"></div>
    <table cellspacing="0" class="table table-fit">
        <tr>
            <th style="width:3%;">id</th>
            <th style="width:5%;">会社名</th>
            <th style="width:5%;">担当者</th>
            <th style="width:5%;">電話番号</th>
            <th style="width:5%;">FAX番号</th>
            <th style="width:8%;">メール</th>
            <th style="width:5%;">郵便番号</th>
            <th style="width:12%;">住所</th>
            <th style="width:5%;">銀行名</th>
            <th style="width:5%;">支店名</th>
            <th style="width:5%;">口座種別</th>
            <th style="width:5%;">口座番号</th>
            <th style="width:5%;">適格登録番号</th>
            <th style="width:5%;">請求書番号</th>
            <th style="width:10%;">メモ</th>
            <th style="width:5%;">編集 / 削除</th>
        </tr>

        {% for info in companyinfos %}

        <tr class="test" id="{{info.id}}">
            <td><label>{{forloop.counter}}</label></td>
            <td><div class="text-left">{{info.company_name}}</div></td>
            <td><div class="text-left">{{info.manager}}</div></td>
            <td>{{info.phone_number}}</td>
            <td>{{info.fax_number}}</td>
            <td><div class="text-left">{{info.email}}</div></td>
            <td>{{info.postal_code}}</td>
            <td><div class="text-left">{{info.address}}</div></td>
            <td><div class="text-left">{{info.bank_name}}</div></td>
            <td><div class="text-left">{{info.branch_name}}</div></td>
            <td><div class="text-left">{{info.account_type}}</div></td>
            <td>{{info.account_number}}</td>
            <td>{{info.invoice_issuer_number}}</td>
            <td>{{info.invoice_number}}</td>
            <td><div class="text-left">{{info.note}}</div></td>
            <td>
                <div style="font-size:16px;">
                    <a href="javascript:void(0)" style="margin-right:15px;" onclick="openEditInfoBox(this)">
                        <i class="fa fa-pencil manage-btn"></i>
                        <input hidden id="edit_info_id" value="{{info.id}}">
                        <input hidden id="edit_company_name" value="{{info.company_name}}">
                        <input hidden id="edit_manager" value="{{info.manager}}">
                        <input hidden id="edit_phone_number" value="{{info.phone_number}}">
                        <input hidden id="edit_fax_number" value="{{info.fax_number}}">
                        <input hidden id="edit_email" value="{{info.email}}">
                        <input hidden id="edit_postal_code" value="{{info.postal_code}}">
                        <input hidden id="edit_address" value="{{info.address}}">
                        <input hidden id="edit_bank_name" value="{{info.bank_name}}">
                        <input hidden id="edit_branch_name" value="{{info.branch_name}}">
                        <input hidden id="edit_account_type" value="{{info.account_type}}">
                        <input hidden id="edit_account_number" value="{{info.account_number}}">
                        <input hidden id="edit_invoice_issuer_number" value="{{info.invoice_issuer_number}}">
                        <input hidden id="edit_invoice_number" value="{{info.invoice_number}}">
                        <input hidden id="edit_note" value="{{info.note}}">
                    </a>
                    <a href="javascript:void(0)" onclick="confirmDeletion('{{info.id}}')">
                        <i class="fa fa-trash manage-btn"></i>
                    </a>
                </div>
            </td>
        </tr>

        {% endfor %}

    </table>

</div>

{% else %}
    <script>document.getElementById('no_result').style.display = 'block';</script>
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    $(window).on('scroll', function () {
        var $w = $(window);
        $('.position-fixed-x').css('left', $w.scrollLeft());
        $('.table-owner1').css('top', $w.scrollTop());
    });
</script>


<div id="regform">
    {% csrf_token %}
    <img src="/static/images/rakubaru/cancel.png" class="n-close" onclick="javascript:dismissLayouts()">
    <br>
    <div style="width:100%;">
        <div class="n-ttl">自社情報の登録</div>
    </div>
    <br>
    <form action="/businessmanagement/companyinforegister" method="post" enctype="multipart/form-data" id="info-form" autocomplete="off">
        {% csrf_token %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <div class="pan">
                        <div class="contentform">
        		            <div class="formcontent">
        		                <div class="form-group">
                                    <p>会社名 <span class="ast">*</span></p>
                                    <div class="field">
                                        <input type="text" name="company_name" id="company_name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p>担当者 <span class="ast">*</span></p>
                                    <div class="field">
                                        <input type="text" name="manager" id="manager">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p>電話番号 <span class="ast">*</span></p>
                                    <div class="field">
                                        <input type="tel" name="phone_number" id="phone_number">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p>FAX番号 <span class="ast">*</span></p>
                                    <div class="field">
                                        <input type="number" name="fax_number" id="fax_number">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p>メール <span class="ast">*</span></p>
                                    <div class="field">
                                        <input type="email" name="email" id="email" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p>郵便番号 <span class="ast">*</span></p>
                                    <div class="field">
                                        <input type="text" name="postal_code" id="postal_code" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p>住所 <span class="ast">*</span></p>
                                    <div class="field">
                                        <input type="text" name="address" id="address" >
                                    </div>
                                </div>
        		            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="pan">
                        <div class="contentform">
        		            <div class="formcontent">
        		                <div class="form-group">
                                    <p><span style="color:#0589e1;">振込先情報</span> 銀行名 <span class="ast">*</span></p>
                                    <div class="field">
                                        <input type="text" name="bank_name" id="bank_name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p>支店名 <span class="ast">*</span></p>
                                    <div class="field">
                                        <input type="text" name="branch_name" id="branch_name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p>口座種別 <span class="ast">*</span></p>
                                    <div class="field">
                                        <input type="text" name="account_type" id="account_type">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p>口座番号 <span class="ast">*</span></p>
                                    <div class="field">
                                        <input type="text" name="account_number" id="account_number">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p>適格請求書発行事業者の登録番号 <span class="ast">*</span></p>
                                    <div class="field">
                                        <input type="number" name="invoice_issuer_number" id="invoice_issuer_number">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p>請求書番号 <span class="ast">*</span></p>
                                    <div class="field">
                                        <input type="number" name="invoice_number" id="invoice_number" placeholder="請求書番号を自動的に連番で割り振るか、空白かを指定できる。">
                                    </div>
                                    <!--<div style="display:flex;padding-left:80px;">-->
                                    <!--    <label class="container">連番-->
                                    <!--        <input type="radio" name="invoice_number_option" id="invoice_serial_number" value="serial_number">-->
                                    <!--        <span class="checkmark"></span>-->
                                    <!--    </label>-->
                                    <!--    <label class="container">空白-->
                                    <!--        <input type="radio" name="invoice_number_option" id="invoice_blank" value="blank">-->
                                    <!--        <span class="checkmark"></span>-->
                                    <!--    </label>-->
                                    <!--</div>-->
                                </div>
                                <div class="form-group">
                                    <p>メモ <span class="ast">*</span></p>
                                    <div class="field">
                                        <input type="text" name="note" id="note">
                                    </div>
                                </div>
                                <input hidden name="info_id" id="info_id" value="0">
                                <center>
                                    <button type="button" id="submit-button" onclick="registerCompanyInfo()">送信</button>
                                </center>
                                <br>
        		            </div>
                        </div>
                    </div>
                </div>
        	</div>
        </div>
    </div>
</div>

<div id="backgroundOverlay"></div>

<script>

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 150 || document.documentElement.scrollTop > 150) {
        document.getElementById("header").style.display = "block";
        document.getElementById("top-scroll").style.display = "block";
        document.getElementById("title").style.display = "block";
        document.getElementById("title0").style.display = "none";
    }else {
        document.getElementById("header").style.display = "none";
        document.getElementById("top-scroll").style.display = "none";
        document.getElementById("title").style.display = "none";
        document.getElementById("title0").style.display = "block";
    }
}


// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}

var regform = document.getElementById("regform");
var darkbg = document.getElementById("backgroundOverlay");

function openRegBox() {
    document.getElementById("info_id").value = "0";
    document.getElementById("company_name").value = "";
    document.getElementById("manager").value = "";
    document.getElementById("phone_number").value = "";
    document.getElementById("fax_number").value = "";
    document.getElementById("email").value = "";
    document.getElementById("postal_code").value = "";
    document.getElementById("address").value = "";
    document.getElementById("bank_name").value = "";
    document.getElementById("branch_name").value = "";
    document.getElementById("account_type").value = "";
    document.getElementById("account_number").value = "";
    document.getElementById("invoice_issuer_number").value = "";
    document.getElementById("invoice_number").value = "";
    document.getElementById("note").value = "";
    regform.style.display = "block";
    darkbg.style.display = "block";
}

function dismissLayouts(){
    regform.style.display = "none";
    darkbg.style.display = "none";
}

function openEditInfoBox(obj) {
    document.getElementById("info_id").value = obj.querySelector("#edit_info_id").value;
    document.getElementById("company_name").value = obj.querySelector("#edit_company_name").value;
    document.getElementById("manager").value = obj.querySelector("#edit_manager").value;
    document.getElementById("phone_number").value = obj.querySelector("#edit_phone_number").value;
    document.getElementById("fax_number").value = obj.querySelector("#edit_fax_number").value;
    document.getElementById("email").value = obj.querySelector("#edit_email").value;
    document.getElementById("postal_code").value = obj.querySelector("#edit_postal_code").value;
    document.getElementById("address").value = obj.querySelector("#edit_address").value;
    document.getElementById("bank_name").value = obj.querySelector("#edit_bank_name").value;
    document.getElementById("branch_name").value = obj.querySelector("#edit_branch_name").value;
    document.getElementById("account_type").value = obj.querySelector("#edit_account_type").value;
    document.getElementById("account_number").value = obj.querySelector("#edit_account_number").value;
    document.getElementById("invoice_issuer_number").value = obj.querySelector("#edit_invoice_issuer_number").value;
    document.getElementById("invoice_number").value = obj.querySelector("#edit_invoice_number").value;
    document.getElementById("note").value = obj.querySelector("#edit_note").value;
    regform.style.display = "block";
    darkbg.style.display = "block";
}

</script>

<script>

function ScrollTo(name) {
  //init thread
  ScrollToResolver(document.getElementById(name));
}

function ScrollToResolver(elem) {
  elem.style.backgroundColor = "#ffccff";
  var jump = parseInt(elem.getBoundingClientRect().top * .2);
  document.body.scrollTop += jump - 50;
  document.documentElement.scrollTop += jump - 50;
  //lastjump detects anchor unreachable, also manual scrolling to cancel animation if scroll > jump
  if (!elem.lastjump || elem.lastjump > Math.abs(jump)) {
    elem.lastjump = Math.abs(jump);
    setTimeout(function() {
      ScrollToResolver(elem);
    }, "100");
  } else {
    elem.lastjump = null;
  }
}

function showSuccessAlert(msg) {
    swal({
        title: "成功！",
        text: msg,
        icon: "success",
        button: "OK",
    });
}

function showFailureAlert(msg) {
    swal({
        title: "おっとっと！ 問題が発生しました。",
        text: msg,
        icon: "warning",
        button: "OK",
        dangerMode: true,
    });
}

function isValidEmail(email) {
    const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(String(email).toLowerCase());
}

function registerCompanyInfo() {
    if(document.getElementById("company_name").value.length == 0){
        showFailureAlert("会社名を入力してください。");
        return;
    }
    if(document.getElementById("manager").value.length == 0){
        showFailureAlert("担当者を入力してください。");
        return;
    }
    if(document.getElementById("phone_number").value.length == 0){
        showFailureAlert("電話番号を入力してください。");
        return;
    }
    if(document.getElementById("fax_number").value.length == 0){
        showFailureAlert("FAX番号を入力してください。");
        return;
    }
    if(document.getElementById("email").value.length == 0){
        showFailureAlert("メールを入力してください。");
        return;
    }
    if(document.getElementById("postal_code").value.length == 0){
        showFailureAlert("郵便番号を入力してください。");
        return;
    }
    if(document.getElementById("address").value.length == 0){
        showFailureAlert("住所を入力してください。");
        return;
    }
    if(document.getElementById("bank_name").value.length == 0){
        showFailureAlert("銀行名を入力してください。");
        return;
    }
    if(document.getElementById("branch_name").value.length == 0){
        showFailureAlert("支店名を入力してください。");
        return;
    }
    if(document.getElementById("account_type").value.length == 0){
        showFailureAlert("口座種別を入力してください。");
        return;
    }
    if(document.getElementById("account_number").value.length == 0){
        showFailureAlert("口座番号を入力してください。");
        return;
    }
    if(document.getElementById("invoice_issuer_number").value.length == 0){
        showFailureAlert("適格請求書発行事業者の登録番号を入力してください。");
        return;
    }
    if(document.getElementById("invoice_number").value.length == 0){
        showFailureAlert("請求書番号を入力してください。");
        return;
    }
    if(document.getElementById("note").value.length == 0){
        showFailureAlert("メモを入力してください。");
        return;
    }
    if(!isValidEmail(document.getElementById("email").value)){
        showFailureAlert("無効なメール。 正しいメールアドレスを入力してください。");
        return;
    }
    document.getElementById("info-form").submit();
}

function confirmDeletion(infoid) {
    swal({
        title: "この会社情報を削除してもよろしいですか？",
        text: "一度削除すると、この情報を復元することはできません。",
        icon: "warning",
        buttons: ["いいえ","はい"],
        dangerMode: true,
    })
    .then((ok) => {
        if (ok) {
            window.location.href='/businessmanagement/delcompanyinfo?info_id=' + infoid;
        }
    });

}


</script>



{% endblock %}











































