html, body{
  background:#BDB76B no-repeat center center fixed;  // #0495af
  background-size:cover;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.header {
  height:70px;
}

.header1 {
  text-align:left;
  height:200px;
  /*background-color:#0495af;*/
}

.header2 {
  background-color:#0495af;
  color: white;
  font-size: 1.5em;
  padding: 2rem;
  text-align: center;
  /*text-transform: uppercase;*/
  border: 1px solid white;
}

.table-business2 {
  border: 1px solid #ffffff;
  width: 100%;
  background-color: white;
  overflow-x:auto;
  position: relative;
  display:none;
}

.manage {
  border-radius: 10%;
}

.table-owner {
  width: 100%;
  background-color:transparent;
  overflow-x:auto;
}

.table-owner1 {
  width: 100%;
  background-color:transparent;
  overflow-x:auto;
  position: relative;
  margin-top:0;
  display:none;
}

.table>tbody>tr>td{
    vertical-align: middle;
    text-align: middle;
}

table td, table th {
  color: #2b686e;
  padding: 10px;
  border: 1px solid white;
  text-align: center;
  vertical-align: middle;
}

table td {
  text-align: center;
  vertical-align: middle;
}

table td:last-child {
  font-size: 0.95em;
  line-height: 1.4;
  text-align: center;
}

table th {
  background-color:black;
  font-weight: 520;
  color:white;
  text-align: center;
  vertical-align: middle;
}

table tr:nth-child(2n) {
  background-color: white;
  border: 1px solid #327a81;
}

table tr:nth-child(2n+1) {
  background-color: #edf7f8;
  border: 1px solid white;
}

.subloc_name {
    font-size: 12px;
    margin-left: 10px;
    list-style-type: square;
}

#top-scroll {
  display: none;
  position: fixed;
  bottom: 20%;
  right: 15px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(0,0,0,0.3);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}

#top-scroll:hover {
  background-color: orange;
}


.owneraddress{
    color:black;
}
.owneraddress:hover{
    color:blue;
}

.hyperlink{
    color:black;
    font-size:25px;
}

.hint0{
    color:blue;
    font-size:12px;
    display:block;
}

.hint{
    color:blue;
    font-size:12px;
    display:none;
}

.hyperlink:hover .hint0 {
    display:none;
}

.hyperlink:hover .hint {
    display:inline-block;
}

.subscription {
    color:black;
    white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap;     /* Opera <7 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* IE */
}

.btn-subscr {
    color:black;
    text-decoration: underline;
    font-size:12px;
}

.btn-subscr:hover {
    color:red;
}

.centered-and-cropped { object-fit:cover }

.show {
    z-index:1000;
    position: absolute;
    background-color:#ffffff;
    border: 2px solid orange;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.25);
    padding:10px;
    border-radius:20px;
    display: block;
    font-size:20px;
    margin: 0;
    list-style-type: none;
    list-style: none;
}

.hide {
    display: none;
}

.show li{ list-style: none; }
.show a { border: 0 !important; text-decoration: none; }
.show a:hover { text-decoration: underline !important; }

label input {
  display: none;/* <-- hide the default checkbox */
}

label span {/* <-- style the artificial checkbox */
  height: 15px;
  width: 15px;
  border-radius:50%;
  border: 1px solid black;
  background-color:transparent;
  margin-right:3px;
  display: inline-block;
  position: relative;
}

[type=checkbox]:checked + span:before {/* <-- style its checked state..with a ticked icon */
  content: '\2714';
  color:white;
  position: absolute;
  top: -5px;
  left: 0;
}


#backgroundOverlay{
    background-color:rgba(0,0,0,0.6);
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:none;
}

.bouton-update{
  background-color: #008CBA;
  color: #FFF;
  text-align: center;
  width: 100%;
  border:0;
  padding: 12px 18px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
}

.form-group {
  overflow: hidden;
  width:100%;
}

input {
  margin-bottom: 15px;
  margin-right:auto;
  width: 100%;
  height: 36px;
  opacity:0.95;
  float: middle;
  padding: 0px 15px;
  color:black;
  text-align:left;
  border: none;
  border: 2px solid gray;
  border-radius: 50px;
}

input:focus {
  border:0;
}

select {
  width: 100%;
  height: 42px;
  border-radius: 50px;
  border: 1px solid #eee;
  padding: 0px 15px;
  color:black;
  text-align-last:center;
}


label input {
  display: none;/* <-- hide the default checkbox */
}
label span {/* <-- style the artificial checkbox */
  height: 25px;
  width: 25px;
  text-align:center;
  padding-bottom:5px;
  display: inline-block;
  position: relative;
  border:0;
  border-radius:3px;
}
[type=checkbox]:checked + span:before {/* <-- style its checked state..with a ticked icon */
  content: '\2714';
  position: absolute;
  top:0;
  font-size:20px;
  left: 3px;
}

[type=checkbox]:checked + span:after {/* <-- style its checked state..with a ticked icon */
  content: '\2714';
  position: absolute;
  top:0;
  left: 3px;
  font-size:20px;
  color:red;
}

.cropping{
    object-fit:cover;
}

#snackbar {
    visibility: hidden;
    min-width: 200px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 12px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

#memberListBox {
    position: absolute;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
}


.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
    100% { transform: translateY(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateY(0%); }
}

@keyframes slide-out {
    0% { transform: translateY(0%); }
    100% { transform: translateY(100%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateY(0%); }
    100% { -webkit-transform: translateY(100%); }
}

#btn-assign {
    font-size:16px; margin:15px; width:200px; position:absolute; right:3%; top:25px; background-color:#008080; display:none;
}

#regform {
    font-size:16px; font-weight:300; color: black; z-index:99999; box-shadow: 0px 0px 100px rgba(0, 0, 0, 1.0);
	position:fixed; left:50%; float:middle; background-color:white; border-radius:10px; padding: 8px 15px 15px 15px;
	transform:translate(-50%, -50%); min-width:500px; max-width:600px; width:auto; top:450px;
}

@media (max-width: 900px) {
    #regform {
        width:90vw; min-width:300px; } }

#submit-button {
    margin-top: 15px;
    background-color:#0077b3;
    color:white;
    font-size:14px;
    padding:12px 18px;
    width:100%;
    border-radius:50px;
    border:0;
}

#selusers {
    font-size:14px;
    color:black;
    margin-left:10px;
}

.manage-btn {
    width:35px; height:35px; padding:5px; opacity:0.7;
}

.manage-btn:hover {
    width:40px; height:40px; opacity:1.0;
}



























